<h1 class="dialog-title" mat-dialog-title>
  Administrar Cuenta

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <h4 class="subtitle"> <a>{{iniciales}}</a></h4>
  <div class="usuario" ><label >{{this.usuarioService.usuario.nombreUsuario}}</label> </div>
  <div> <label class="correo">{{this.usuarioService.usuario.correo}}</label>  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">Nombre</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="{{this.usuarioService.usuario.nombres}}" disabled>
  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">Apellido</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="{{this.usuarioService.usuario.apellidos}}" disabled>
  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">Empresa</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="{{this.usuarioService.usuario.cliente.razonSocial}}" disabled>
  </div>




</div>
<div class="dialog-buttons" mat-dialog-actions>
 
  <button class="dialog-buttons__accept" mat-button (click)="cambiarContrasena()" cdkFocusInitial>Cambiar contraseña</button>
</div>
