.mat-checkbox-layout .mat-checkbox-label {
    line-height: 30px;
}
.etiqueta-renglon{
    white-space: normal;
    display: contents;
}   
 .subtitle {
    a {
      display: inline-flex;
      margin-left: 15px;
      background-color: var(--color-secondary-blue);
      color: var(--color-primary-green);
      border-radius: 50%;
      cursor: pointer;
      line-height: 0;
      width: 80px;
      height:80px;
      margin: 0;
      justify-content: center;
      align-items: center;
      padding-bottom: 4px;
      font-size: 25px;
    }

    margin-bottom:5px;
    font-size: 1.1rem;
  }

  .usuario{
    font-size: 12px;
    margin-bottom: -5px;
    font-weight: bold;
  } 
  .correo{
    font-size: 12px;
   
   
  }