<app-header></app-header>

<div id="baseline-new-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span class="form-title">Guardar Linea Base</span>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form action="" method="post">

        <div class="form-container">
          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="name">Nombre de Linea Base</label>
              <input type="text" [(ngModel)]="this.nombreLineaBase"  name="first" id="name" class="custom-form-control" placeholder="Nombre Linea Base">
            </div>
          </div>
          <div class="form-container__item">
            <div class="custom-form-group">
              <label class="text-right" for="description">Descripción de la linea base</label>
              <textarea type="text" id="description" [(ngModel)]="this.descripcionLineaBase" name="descripcion" class="custom-form-control" placeholder="Descripcion Linea Base"
                rows="4"></textarea>
            </div>
          </div>

          <div style="padding: 16px;">

            <div class="form-container__item">
              <h3>Búsquedas seleccionadas</h3>
              <hr class="separator">

              <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let element">
                    <a href="#">{{element.nombreBusqueda}}</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{element.descripcion}}</em></td>
                </ng-container>

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox class="example-check"(change)="onCheckChange($event,element.idBusqueda)" [checked]="true"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>

          </div>

          <div class="form-container__item">
            <div class="action-buttons">
              <button (click)="atras()" type="button" mat-button>Atras</button>
              <button (click)="guardarLineaBase()" *ngIf="this.busquedasSeleccionadas"  type="button" mat-raised-button color="primary">
                Seleccionar búsqueda
              </button>
              <button  routerLink="/baseline/save" *ngIf="!this.busquedasSeleccionadas"  disabled type="button" mat-raised-button color="primary">
                Seleccionar búsqueda
              </button>
            </div>
          </div>

        </div>

      </form>

    </mat-card-content>
  </mat-card>
</div>
