


#baseline-new-page {
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color:var(--color-secondary-blue) !important;
  }
  ::ng-deep  .mat-checkbox-checkmark-path {
    stroke: var(--color-primary-green) !important;
  }
  .form-title{
    font-weight: bold;
    color: var(--color-secondary-blue);
  }
  .mat-table {
    a {
      color: var(--color-link-blue);
    }

    .mat-header-row {
      th.mat-header-cell {
        font-weight: bold;
        color: var(--color-secondary-blue);
        font-size: 15px;
        border-bottom: 0;
      }
    }

    .mat-cell {
      .calendar-icon {
        display: inline-block;
        margin-right: 5px;
      }

      .action-button {
        background: var(--color-grey);
        padding: 0 10px;
        margin: 0px 5px;
        min-width: 38px;
      }
   
      color: var(--color-grey-600);
      font-family: "Open Sans", sans-serif;
      vertical-align: middle;
    }
  
    width: 100%;
  }
  
  .form-container {
  
    &__item {
      color: var(--color-secondary-blue);
    
      
  

      .custom-form-group {
        padding: 0 15px;
       
      }
    
      mat-slider {
        width: 100%;
      }
   
      .action-buttons {
        .mat-button,
        .mat-raised-button {
          margin: 0 15px;
        }

        text-align: right;
        width: 100%;
        margin-top: 15px;
    
      }
    
    }
    
  }
  
}

