

#userlist-page {
  .mat-card {
    .result-items {
      .mat-table {
        a {
          color: var(--color-link-blue);
        }

        .active_no {
          border-radius: 11.8px;
          color: var(--color-secondary-blue);
          background-color: var(--color-grey);
          width: 30px;
          text-align: center;
          cursor: pointer;
        }

        .active_yes {
          width: 30px;
          text-align: center;
          border-radius: 11.8px;
          background-color: var(--color-primary-blue);
          color: white;
          cursor: pointer;
        }

        .mat-header-row {
          th.mat-header-cell {
            font-weight: bold;
            color: var(--color-secondary-blue);
            font-size: 15px;
            border-bottom: 0;
          }
        }

        .mat-cell {
          .calendar-icon {
            display: inline-block;
            margin-right: 5px;
          }

          .action-button {
            background: var(--color-grey);
            padding: 0 10px;
            margin: 0px 5px;
            min-width: 38px;
          }

          color: var(--color-grey-600);
          font-family: "Open Sans", sans-serif;
          vertical-align: middle;
        }

        width: 100%;
      }

      height: calc(130vh - 400px);
      overflow: auto;
      margin-top: 15px;
      padding: 0px 50px;
    }

    .mat-card-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    padding: 16px 32px;
  }

  padding: 0px 35px;
}
