<app-header></app-header>

<div id="userlist-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
 
        <button (click)="crearUsuario()" mat-raised-button color="primary">
          <mat-icon name="add">add</mat-icon> Nuevo
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="result-items" [ngSwitch]="switchOp">
        <div class="result-items__recents" *ngSwitchCase="'recents'">

          <table mat-table [dataSource]="dataSource">
            <!-- username Column -->
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="editarUsuario(element)">{{ element.nombreUsuario }}</a>
              </td>
            </ng-container>

            <!-- firstname Column -->
            <ng-container matColumnDef="firstname">
              <th mat-header-cell *matHeaderCellDef>Nombres</th>
              <td mat-cell *matCellDef="let element">{{ element.nombres }}</td>
            </ng-container>

            <!-- lastname Column -->
            <ng-container matColumnDef="lastname">
              <th mat-header-cell *matHeaderCellDef>Apellidos</th>
              <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
            </ng-container>

            <!-- rol Column -->
            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef>Rol</th>
              <td mat-cell *matCellDef="let element"><div *ngIf="element.rol == 'usuario' ">Usuario</div>
                <div *ngIf="element.rol == 'admin_delegado' ">Administrador Delegado</div></td>
              
            </ng-container>

            <!-- status Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.estado == 'ACTIVO'" [class.active_yes]="element.estado == 'ACTIVO'">
                  <mat-icon (click)="inactivarUsuario(element.nombreUsuario)" name="done">done</mat-icon>
                </div>
                <div *ngIf="element.estado == 'INACTIVO'" [class.active_no]="element.estado == 'INACTIVO'">
                  <mat-icon (click)="activarUsuario(element.nombreUsuario)"  name="close">close</mat-icon>
                </div>
              </td>
            </ng-container>

            <!-- delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef>Eliminar</th>
              <td mat-cell *matCellDef="let element">
                <button (click)="eliminar(element)" mat-button class="action-button">
                  <img src="assets/icons/delete.png" alt="Eliminar">
                </button>
              </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
