::ng-deep {

  .menu-tooltip {
    background:  var(--color-primary-blue);
 
  }
  .mat-grid-tile.logo-container .mat-figure {
    justify-content: flex-start;
  }

  .mat-grid-tile.icons-container .mat-figure {
    justify-content: flex-end;
  }

  .mat-menu-panel {
    width: 280px;
    background: var(--color-grey);
  }
}


.mat-toolbar-multiple-rows,
.mat-toolbar-row, .mat-toolbar-single-row {
  min-height: 80px;
}

.main-menu {
 
  &__profile {
    .image-container {
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 3px solid var(--color-primary-blue);
      }

      width: 50px;
      border-bottom: 1px solid var(--color-grey-500);
    }
  
    .text-container {
      display: flex;
      align-items: center;
      width: calc(250% - 0px);
      height: 55px;
      border-bottom: 1px solid var(--color-grey-500);
      font-weight: bold;
      color: var(--color-primary-blue);
    }
    .text-container2 {
      display: flex;
      align-items: center;
      width: calc(100% - 50px);
      height: 55px;
      border-bottom: 1px solid var(--color-grey-500);
      padding-left: 16px;
      color: var(--color-secundary-blue);
    }
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 16px;
  }
}

#main-navbar {
  .logo-container {
    .logo {
      max-height: 2000%;
      width: auto;
    }
  }

  mat-grid-list {
    width: 100%;
  }

  #main-menu {
  
    ul {
      li {
        a {
          > img {
            width: auto;
            height: 55%;
            display: inline-block;
          }

          width: 32px;
          height: 32px;
          display: inline-flex;
          background-color: white;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          cursor: pointer;
        }

        &.active,
        &:hover {
          a {
            > img {
              filter: brightness(100);
            }

            background-color: var(--color-primary-blue);
          }

          border-bottom: 2px var(--color-primary-blue) solid;
        }

        display: inline-block;
        padding-bottom: 10px;
        margin: 0 10px;
      }

      list-style: none;
      padding: 0;
    }
  }

  .icons-container {
    strong,
    button {
      margin-left: 10px;
    }

    strong {
      font-size: 0.9rem;
      color: var(--color-secondary-blue);
    }

    button {
      img {
        height: 55%;
        width: auto;
      }

      &.btn-notifications {
        background-color: var(--color-primary-blue);
        line-height: 0;
      }

      &.btn-toggle-menu {
        img {
          height: 100%;
        }

        background-color: var(--color-secondary-blue);
        line-height: 0;
      }

      background: transparent;
      border: none;
      padding: 0;
      min-width: auto;
      width: 30px;
      height: 30px;
    }
  }

  border-bottom: 1px var(--color-grey) solid;
  background-color: white;
}

.subtitle {
  a {
    display: inline-flex;
    margin-left: 15px;
    background-color: var(--color-secondary-blue);
    color: var(--color-primary-green);
    border-radius: 50%;
    cursor: pointer;
    line-height: 0;
    width: 45px;
    height:45px;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    font-size: 20px;
  }
  margin-top: 4px;
  margin-bottom:5px;
  font-size: 1.1rem;
}