<mat-toolbar id="main-navbar">
  <mat-toolbar-row>
    <mat-grid-list cols="12" rowHeight="70px">
      <mat-grid-tile colspan="3" class="logo-container">
        <img src="assets/images/logo.png" class="logo" alt="Accurex">
      </mat-grid-tile>

      <mat-grid-tile colspan="6">

        <nav id="main-menu">
          <ul>
            <li routerLinkActive="active">
              <a (click)="busqueda()" matTooltip="Búsqueda" matTooltipClass="menu-tooltip">
                <img src="assets/icons/search.png" alt="Búsqueda">
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/baseline" matTooltip="Linea Base" matTooltipClass="menu-tooltip">
                <img src="assets/icons/baseline.png" alt="Linea base">
              </a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/fulfillment/list" matTooltip="Cumplimiento" matTooltipClass="menu-tooltip">
                <img src="assets/icons/fulfillment.png" alt="Cumplimiento">
              </a>
            </li>
          </ul>
        </nav>
      </mat-grid-tile>

      <mat-grid-tile class="icons-container" colspan="3">
        <strong class="greeting">Hola, {{this.usuarioService.usuario.nombres}}</strong>

        <button mat-raised-button routerLink="/regulations/list" matBadge="{{this.cambiosRegulatoriosPend.length}}" matBadgeSize="small" matBadgeColor="primary-green"
          class="btn-notifications mat-elevation-z0">
          <img src="assets/icons/notification.png">
        </button>
        <button mat-button [matMenuTriggerFor]="beforeMenu" class="btn-toggle-menu">
          <img src="assets/icons/hamburguer.png">
        </button>

        <mat-menu class="main-menu" #beforeMenu="matMenu" xPosition="before">
          <div class="main-menu__profile">
            <div class="image-container">
              <h4 class="subtitle"> <a>{{iniciales}}</a></h4>
            </div>
            <div class="text-container2">
              Hola
            </div>
            <div class="text-container">
              {{this.usuarioService.usuario.nombres}}!
            </div>
          </div>

          <button (click)="openAdministrarCuenta()" mat-menu-item>Administrar cuenta</button>
          <button (click)="openSuscripcion()"mat-menu-item>Suscripción</button>
          <button mat-menu-item>Ayuda del sistema</button>
          <button (click)="openSupportForm()" mat-menu-item>Soporte</button>
          <button (click)="closeSession()" mat-menu-item>Cerrar sesión</button>
        </mat-menu>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-toolbar-row>
</mat-toolbar>

