#nodes-container {
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color:var(--color-secondary-blue) !important;
  }
  ::ng-deep  .mat-checkbox-checkmark-path {
    stroke: var(--color-primary-green) !important;
  }
  .items-tree-invisible {
    display: none;
  }

  .items-tree ul,
  .items-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-tree {
    .mat-tree-node {
      .mat-icon-button {
        .mat-icon {
          width: 17px;
          height: 17px;
          border-radius: 50%;
          color: var(--color-secondary-blue);
          background: white;
          line-height: 18px;
          font-size: 18px;
        }

        &[disabled] {
          background: transparent;
          display: none;
        }

        width: 30px;
        height: 30px;
        background: var(--color-secondary-blue);
        margin-right: 10px;
        border-radius: 5px;
        line-height: 30px;
      }

      margin: 15px 0;
      background: white;
      color: var(--color-secondary-blue);
      padding: 0 5px;
      font-weight: bold;
      min-height: 40px;
      border-radius: 5px;
      position: relative;
    }

    li.mat-tree-node {
      margin: 0;
      background: var(--color-light-blue);
      font-weight: normal;
      margin-left: -5px;
      margin-right: -5px;
    }

    .mat-checkbox {
      width: 30px;
      height: 30px;
      background: white;
      margin-right: 5px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
    }

    .node-text {
      background-color: white;
      box-shadow: 0 5px 4px 0 rgba(black, 0.1);
      margin-block-start: 0;
      padding: 1em;
      margin-top: -1.1em;
      color: var(--color-grey-600);
    }

    .r-badge {
      background: var(--color-primary-green);
      color: var(--color-secondary-blue);
      display: inline-flex;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 30px;
      height: 30px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-weight: bold;
    }

    // .mat-nested-tree-node {
    //   .mat-tree-node {
    //     margin: 0;
    //   }
    // }

    background: transparent;
  }

  flex: 1;
  background-color: var(--color-grey);
}
