<h1 class="dialog-title" mat-dialog-title>
  {{this.regulacion.nombreRegulacion}}
  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <div id="nodes-container">
    <mat-tree  #tree [dataSource]="dataSource" [treeControl]="treeControl" class="items-tree">
      
      <mat-tree-node *matTreeNodeDef="let node;  when: isReq" matTreeNodeToggle>
          <li class="mat-tree-node">
            <!-- <mat-checkbox color="primary" class="checklist-leaf-node"></mat-checkbox> -->
            {{ node.textoAsociado }}
            <!-- <span class="r-badge" [class.blue-dark]="treeControl.isExpanded(node)" matTreeNodeToggle matTooltipClass="primary-tooltip" [matTooltip]="treeControl.isExpanded(node) ? 'Ocultar requerimientos' : 'Mostrar requerimientos' " matTooltipPosition="above">{{ treeControl.isExpanded(node) ? 'R-' : 'R+' }}</span> -->
          </li>
      </mat-tree-node>
     

      <mat-nested-tree-node *matTreeNodeDef="let node;">
        <li>
          <div class="mat-tree-node">
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" *ngIf="node.textoAsociado !== '' || tieneHijos(node)">
              <mat-icon class="mat-icon-rtl-mirror" >
                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
              </mat-icon>
            </button>
            <button mat-icon-button *ngIf="node.textoAsociado == '' && !tieneHijos(node)">
            </button>
          
            <div innerHTML ="{{ node.texto | highlight : busqueda }}"></div>
            <span class="r-badge" *ngIf="node.tieneRequerimientos=='S'" matTreeNodeToggle
              matTooltipClass="primary-tooltip"
              [matTooltip]="'Tiene requerimientos'"
              matTooltipPosition="above">{{ node.tieneRequerimientos=='S' ? 'R' : '' }}</span>
          </div>
          <ul [class.items-tree-invisible]="!treeControl.isExpanded(node) && !evaluarIsExpanded(node)">
              <div class="node-text" *ngIf="node.textoAsociado !== ''"
               innerHTML ="{{ node.textoAsociado | highlight : busqueda }}"></div>
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close()">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="asociarLinasBase()" cdkFocusInitial>Aplicar nueva regulación a lineas base</button>
</div>
