#userform-page {
  .form-container {
    &__item {
      .custom-form-group {
        padding: 0 15px;
      }

      mat-slider {
        width: 100%;
      }

      .action-buttons {
        .mat-button,
        .mat-raised-button {
          width: 35%;
          margin: 0 5%;
        }

        width: 100%;
      }
    }
  }
}
