<app-header></app-header>

<div id="userform-page">
  <mat-card>
   
    <mat-card-content>


        <mat-grid-list class="form-container" cols="4" rowHeight="100px">
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="username">Nombre de usuario</label>
              <input type="text" id="nombreUsuario" matInput [(ngModel)]="this.usuario.nombreUsuario" class="custom-form-control" placeholder="Lorem ipsum">
             </div>
          </mat-grid-tile>
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="firstname">Nombres</label>
              <input type="text" id="nombres"  [(ngModel)]="this.usuario.nombres" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="lastname">Apellidos</label>
              <input type="text" id="apellidos"  [(ngModel)]="this.usuario.apellidos" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="firstname">Correo</label>
              <input type="text" id="correo"  [(ngModel)]="this.usuario.correo" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="rol">Rol</label>
              <mat-select id="rol"  [(value)]="this.usuario.rol" class="custom-form-control">
                <mat-option value="usuario">Usuario</mat-option>
              </mat-select>
            </div>
          </mat-grid-tile>
    
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="lastname">Máximo tiempo de inactividad sesión (min)</label>
              <mat-slider  [(value)]="this.usuario.tiempoSesion" thumbLabel color="primary" tickInterval="5" min="5" max="120"></mat-slider>
            </div>
          </mat-grid-tile>
          <mat-grid-tile class="form-container__item">
            <div class="custom-form-group">
              <label for="lastname">Periodo caducidad contraseña (días)</label>
              <mat-slider thumbLabel [(value)]="this.usuario.periodoCaducidadContrasena" color="primary" tickInterval="1" min="15" max="365"></mat-slider>
            </div>
          </mat-grid-tile>
        
          <mat-grid-tile class="form-container__item">
            <div class="action-buttons">
              <button (click)="cancelar()" mat-button>Cancelar</button>
              <button mat-raised-button color="primary" *ngIf="this.usuarioService.opcion == 'Crear'" (click)="crearUsuario()">Confirmar</button>
              <button mat-raised-button color="primary" *ngIf="this.usuarioService.opcion == 'Editar'" (click)="editarUsuario()">Editar</button>
           
            </div>
          </mat-grid-tile>
        </mat-grid-list>

 

    </mat-card-content>
  </mat-card>
</div>
