<app-header></app-header>

<div id="regulations-apply-page">

  <div class="main-content">
    <div id="results-container">
      <mat-card>
        <mat-card-header>
          <div class="switches">
            <button [class.active]="switchHistory == 'modifies'" (click)="switchHistory = 'modifies'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Lineas base recientes
            </button>
            <button [class.active]="switchHistory == 'news'" (click)="switchHistory = 'news'" mat-button type="button"
              class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Histórico de lineas base
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="result-items" [ngSwitch]="switchHistory">
            <div class="result-items__recents" *ngSwitchCase="'modifies'">

              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="baseline">
                  <th mat-header-cell *matHeaderCellDef>Linea base</th>
                  <td mat-cell *matCellDef="let element">
                    <a routerLink="/regulations/detail">{{ element.nombreLineaBase }}</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{ element.descripcionLineaBase }}</em></td>
                </ng-container>

                <ng-container matColumnDef="date_created">
                  <th mat-header-cell *matHeaderCellDef>Fecha creacion</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.fechaCreacion }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="date_updated">
                  <th mat-header-cell *matHeaderCellDef>Fecha publicación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.date_updated | amLocale:'es' | amDateFormat:'MMM DD [de] YYYY' | titlecase }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>Seleccionar</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox   (change)="seleccionarLineaBase($event,element)" class="mat-checkbox"></mat-checkbox>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
            <div class="result-items__history" *ngSwitchCase="'news'">
              history
            </div>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button type="button" (click)="aplicarCambio()"mat-raised-button color="primary">Aplicar cambio</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
