::ng-deep {
  .mat-grid-tile.form-container__item .mat-figure {
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

#header-filter-fulfillment {
  .main-content {
    &__filters,
    &__search {
      .form-container {
        &__item {
          .clear-filters {
            img {
              width: 100%;
              height: auto;
            }

            background: var(--color-secondary-blue);
            border: none;
            display: inline-block;
            width: 27px;
            height: 27px;
            margin-bottom: 10px;
            border-radius: 5px;
            padding: 5px;
            min-width: unset;
            line-height: 0;
          }
        }
      }
    }

    margin-top: 16px;
  }

  padding: 16px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
