<div id="header-filter-fulfillment">
  <div class="main-content">
    <div class="main-content__filters">
      <mat-grid-list class="form-container" cols="6" rowHeight="70px">
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Requerimiento</label>
            <input type="text" id="requerimiento" matInput class="custom-form-control" [(ngModel)]="requerimiento" placeholder="Requerimiento">
       
          </div>         
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Criticidad</label>
            <mat-select class="custom-form-control" [(value)]="criticidad" multiple>
              <mat-option value="ALTA">Alta</mat-option>
              <mat-option value="MEDIA">Media</mat-option>
              <mat-option value="BAJA">Baja</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction">Nivel de cumplimiento</label>
            <mat-select class="custom-form-control"  [(value)]="nivelCumplimiento" multiple>
              <mat-option value="SI">Cumple</mat-option>
              <mat-option value="NO">No cumple</mat-option>
              <mat-option value="NO_ESPECIFICADO">No especificado</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Controles</label>
            <input type="text" id="controles" matInput class="custom-form-control" [(ngModel)]="controles" placeholder="Controles">
       
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Responsable</label>
            <mat-select class="custom-form-control" [(value)]="responsableSelec"  multiple>
              <mat-option  *ngFor="let responsable of responsables" value="{{responsable}}">{{responsable}}</mat-option>
  
            </mat-select>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> email responsable</label>
            <input type="text" id="email" matInput class="custom-form-control" [(ngModel)]="email" placeholder="email responsable">
       
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Plan de acción</label>
            <input type="text" id="plan" matInput class="custom-form-control" [(ngModel)]="plan" placeholder="Plan de acción">
       
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Fecha de PA</label>
            <input matInput class="custom-form-control"   [matDatepicker]="picker" placeholder="Fecha de PA">
          
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Notificación</label>
            <mat-select class="custom-form-control"   [(value)]="notificacion" multiple>
              <mat-option value="S">Tiene</mat-option>
              <mat-option value="N">No tiene</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <button mat-button (click)="filtrar()" class="clear-filters">
            <img src="assets/icons/clear-filters.png">
          </button>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
