<h1 class="dialog-title" mat-dialog-title>
  Información de cumplimiento

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
 
    <div class="camposArriba">
    
 
  <div class="custom-form-group">
    <label class="text-right" for="description">Criticidad</label>
    <mat-select  class="custom-form-control" [(value)]="this.requerimientoCliente.criticidad"  (selectionChange)="opcionSeleccionadaCriti($event.value)" >
      <mat-option value="ALTA">Alta</mat-option>
      <mat-option value="MEDIA">Media</mat-option>
      <mat-option value="BAJA">Baja</mat-option>
    </mat-select>
  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">Nivel cumplimiento</label>
    <mat-select   class="custom-form-control" [(value)]="this.requerimientoCliente.nivelCumplimiento"  (selectionChange)="opcionSeleccionadaCumpli($event.value)"  placeholder="No especificado">
      <mat-option value="SI">Cumple</mat-option>
      <mat-option value="NO">No cumple</mat-option>
      <mat-option value="NO_ESPECIFICADO">No especificado</mat-option>
    </mat-select>
  </div>
</div>

  <div class="custom-form-group">
    <label class="text-right" for="description">Controles</label>
    <textarea type="text" id="description" [(ngModel)]="this.requerimientoCliente.controles" class="custom-form-control" placeholder="Controles" rows="4"></textarea>
  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">Responsable</label>
    <input type="text" id="description" [(ngModel)]="this.requerimientoCliente.responsable" class="custom-form-control" placeholder="Responsable">
  </div>
  <div class="custom-form-group">
    <label class="text-right" for="description">email responsable</label>
    <input type="text" id="description" [(ngModel)]="this.requerimientoCliente.correosElectronicosResponsable" class="custom-form-control" placeholder="Email responsable" >
  </div>

  <div class="custom-form-group">
    <label class="text-right" for="description">Plan de acción</label>
    <textarea type="text" id="description" [(ngModel)]="this.requerimientoCliente.planAccion" class="custom-form-control" placeholder="Plan de accion" rows="4"></textarea>
  </div>
  <div class="custom-form-group date">
    <label class="text-right" for="description">Fecha de plan de acción</label>
   
      <input matInput class="custom-form-control" [(ngModel)]="this.requerimientoCliente.fechaEjecucionPlanAccion"  [matDatepicker]="picker" placeholder="{{this.requerimientoCliente.fechaEjecucionPlanAccion}}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker ></mat-datepicker>
   
  </div>
  <div class="custom-form-group" mat-dialog-content>
    <label  class="text-right">Notificación</label>
    <div class="custom-form-group">
      <mat-slide-toggle class="example-margin" (change)="onCheckChange($event)" *ngIf="this.requerimientoCliente.notificacionesActivo == 'N'"[checked]="false"></mat-slide-toggle>
      <mat-slide-toggle class="example-margin" (change)="onCheckChange($event)" *ngIf="this.requerimientoCliente.notificacionesActivo == 'S'" [checked]="true"></mat-slide-toggle>
    </div>
  
    <div class="custom-form-group date">
      <label for="start-date">Fecha inicio</label>
      <input matInput class="custom-form-control"  [(ngModel)]="this.requerimientoCliente.fechaInicioNotificaciones" [matDatepicker]="pickerSD" placeholder="{{this.requerimientoCliente.fechaInicioNotificaciones}}">
      <mat-datepicker-toggle matSuffix [for]="pickerSD"></mat-datepicker-toggle>
      <mat-datepicker #pickerSD></mat-datepicker>
    </div>
  
    <div class="custom-form-group">
      <label for="periocity">Periocidad</label>
      <mat-select id="periocity" [(value)]="this.requerimientoCliente.periodicidadNotificaciones" class="custom-form-control">
        <mat-option value="UNA_VEZ">Una vez</mat-option>
        <mat-option value="DIARIA">Diaria</mat-option>
        <mat-option value="SEMANAL">Semanal</mat-option>
        <mat-option value="MENSUAL">Mensual</mat-option>
        <mat-option value="BIMENSUAL">Bimensual</mat-option>
        <mat-option value="TRIMESTRAL">Trimestral</mat-option>
        <mat-option value="CUATRIMESTRAL">Cuatrimestral</mat-option>
        <mat-option value="SEMESTRAL">Semestral</mat-option>
        <mat-option value="ANUAL">Anual</mat-option>
       

      </mat-select>
    </div>
  
  
    <div class="custom-form-group">
      <label class="text-right" for="emails">Direcciones de correo</label>
      <textarea type="text" id="emails" [(ngModel)]="this.requerimientoCliente.correosElectronicosNotificaciones" [(value)]="this.requerimientoCliente.correosElectronicosNotificaciones" class="custom-form-control" placeholder="Lorem ipsum" rows="4"></textarea>
    </div>
  </div>

</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close()">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="guardarInformacion()" cdkFocusInitial>Guardar información</button>
</div>
