.custom-form-group .custom-form-control .mat-select-value-text{
    color: var(--color-grey-600);
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 13px;
    display: inherit
}
.custom-form-group {
    text-align: left;
    margin-left: 10px;

  }


.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{
    background-color:rgba(63,81,181,.54)
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
    background-color: #5756f4;
}
.dialog-body{
    overflow: scroll;
    .camposArriba{
        display: flex;
        flex-direction: row;
    }  
}
.mat-dialog-content {
    display: block;
    margin: 0 -24px;
    width: unset;
    padding: 0 24px;
    max-height: 65vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}