::ng-deep {
  .mat-card {
    .mat-card-header-text {
      margin: 0;
    }
  }
}

#baseline-recurrent-page {
  .main-content {
    .mat-card {
      .mat-card-header {
        .switches {
          margin-bottom: 16px;
        }

        border-bottom: 1px solid var(--color-grey);
      }
      .mat-progress-bar {
        display: block;
        height: 4px;
        overflow: hidden;
        position: relative;
        transition: opacity 250ms linear;
        width: 70%;
    }
      .result-items {
        .mat-table {
          a {
            color: var(--color-link-blue);
          }

          .mat-header-row {
            th.mat-header-cell {
              font-weight: bold;
              color: var(--color-secondary-blue);
              font-size: 15px;
              border-bottom: 0;
              width: 200px;
            }
          }

          .mat-cell {
            .calendar-icon {
              display: inline-block;
              margin-right: 5px;
            }

            .action-button {
              background: var(--color-grey);
              padding: 0 10px;
              margin: 0px 5px;
              min-width: 38px;
            }

            color: var(--color-grey-600);
            font-family: "Open Sans", sans-serif;
            vertical-align: middle;
          }

          width: 100%;
        }

        height: calc(100vh - 400px);
        overflow: auto;
        margin-top: 15px;
      }

      padding: 16px 32px;
    }

    padding: 0px 35px;
  }
}
::ng-deep {
  .menu-tooltip {
    background:  var(--color-primary-blue);
 
  }
  .mat-grid-tile.logo-container .mat-figure {
    justify-content: flex-start;
  }

  .mat-grid-tile.icons-container .mat-figure {
    justify-content: flex-end;
  }

  .mat-menu-panel {
    width: 280px;
    background: var(--color-grey);
  }
}
.mat-progress-bar {
  display: block;
  height: 2px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100%;
  }