<app-header></app-header>
<div>  <mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar></div>
<div id="baseline-recurrent-page">

  <div class="main-content">
    <div id="results-container">
      <mat-card>
        <mat-card-header>
          <div class="switches">
            <button [class.active]="switchHistory == 'recents'" (click)="switchHistory = 'recents'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Lineas Base recientes
            </button>
            <button [class.active]="switchHistory == 'history'" (click)="switchHistory = 'history'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Histórico de lineas base
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="result-items" [ngSwitch]="switchHistory">
            <div class="result-items__recents" *ngSwitchCase="'recents'">

              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Linea base</th>
                  <td mat-cell *matCellDef="let element">
                    <a  (click)="consultarLineaBase(element)">{{element.nombreLineaBase}}</a>
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{element.descripcionLineaBase}}</em></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date_entered">
                  <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.fechaCreacion  }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="date_modified">
                  <th mat-header-cell *matHeaderCellDef>Fecha modificación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.fechaActualizacion}}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="percent">
                  <th mat-header-cell *matHeaderCellDef>Estado</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-progress-bar mode="determinate"  matTooltip="{{element.estadoCumplimiento}}%"  [value]="element.estadoCumplimiento"></mat-progress-bar>
                  </td>
                </ng-container>
                
                <ng-container matColumnDef="cumplimiento">
                  <th mat-header-cell *matHeaderCellDef>Cumplimiento</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-progress-bar mode="determinate" matTooltip="{{element.cumplimiento}}%" [value]="element.cumplimiento"></mat-progress-bar>
                  </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
            <div class="result-items__history" *ngSwitchCase="'history'">
      

                <table mat-table [dataSource]="dataSource">
  
                  <!-- Position Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Linea base</th>
                    <td mat-cell *matCellDef="let element">
                      <a (click)="consultarLineaBase(element)">{{element.nombreLineaBase}}</a>
                    </td>
                  </ng-container>
  
                  <!-- Name Column -->
                  <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef>Descripción</th>
                    <td mat-cell *matCellDef="let element"><em>{{element.descripcionLineaBase}}</em></td>
                  </ng-container>
  
                  <!-- Weight Column -->
                  <ng-container matColumnDef="date_entered">
                    <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
                    <td mat-cell *matCellDef="let element">
                      <img src="assets/icons/calendar-primary.png"
                        class="calendar-icon">{{ element.fechaCreacion  }}
                    </td>
                  </ng-container>
  
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="date_modified">
                    <th mat-header-cell *matHeaderCellDef>Fecha modificación</th>
                    <td mat-cell *matCellDef="let element">
                      <img src="assets/icons/calendar-primary.png"
                        class="calendar-icon">{{ element.fechaActualizacion}}
                    </td>
                  </ng-container>
  
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="percent">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-progress-bar mode="determinate" [value]="element.estadoCumplimiento"></mat-progress-bar>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="cumplimiento">
                    <th mat-header-cell *matHeaderCellDef>Cumplimiento</th>
                    <td mat-cell *matCellDef="let element">
                      <mat-progress-bar mode="determinate" [value]="element.cumplimiento"></mat-progress-bar>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
  
            
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="result-pagination custom-paginator">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
