<div id="result-cambio-reg">
 

  <div class="content">
    <div class="content__info">
      <p  class="subtitle">{{ item.title }}  <a (click)="openInfoDialog(item.idRegulacion)"> ¡</a></p>
    

      <p class="data">
        <ng-container *ngFor="let inf of item.info">
          <strong>Nombre regulacion: </strong> <span>{{ item.check_title }}</span><br>
          <strong>{{ inf.name }}: </strong> <span>{{ inf.value }}</span><br>
        </ng-container>
       <strong>Fecha de cambio
        </strong> <span class="badge">{{ item.validity.date.month }}</span> <span
          class="badge">{{ item.validity.date.day }}</span> <span class="badge">{{ item.validity.date.year }}</span>
      </p>

      <div class="divider">
        <span class="line"></span>
        <a *ngIf="withLink && item.habilitar" target="_blank" (click)="verDetalle(item)" class="link">Ver Detalle</a>
        <a *ngIf="!item.habilitar && withLink" target="_blank" (click)="ventanaEmergente()" class="link2">Ver Detalle</a>
      </div>
    </div>
      <div class="content__properties">
        <div class="items">
          <ul>
            <li>
           
              <p>
                <strong>LINEAS BASE</strong>
                <li *ngFor="let lineabase of lineasBase">{{lineabase}} </li>
                
              </p>
            </li>
            
          </ul>
          <ul>
            <li>
              
              <p>
                <strong>USUARIO</strong>
                <li *ngFor="let autor of autores">{{autor}} </li>
                
              </p>
            </li>
          </ul>
        </div>
      </div>
     

  
  </div>
</div>
