<app-header></app-header>
<div>  <mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar></div>
<div id="search-history-page">
  <app-header-filter-search></app-header-filter-search>

  <div class="main-content">
    <div id="results-container">
      <mat-card>
        <mat-card-header>
          <div class="switches">
            <button [class.active]="switchHistory == 'recents'" (click)="switchHistory = 'recents'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Búsquedas recientes
            </button>
            <button [class.active]="switchHistory == 'history'" (click)="switchHistory = 'history'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Histórico de búsquedas
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="result-items" [ngSwitch]="switchHistory">
            <div class="result-items__recents" *ngSwitchCase="'recents'">

              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let element">
                    <a (click)="consultarBusqueda(element)">{{element.nombreBusqueda}}</a>
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{element.descripcion}}</em></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date_entered">
                  <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png" class="calendar-icon">{{ element.fechaCreacion }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="date_modified">
                  <th mat-header-cell *matHeaderCellDef>Fecha modificación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png" class="calendar-icon">{{ element.fechaActualizacion  }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button class="action-button" (click)="eliminar(element.idBusqueda)">
                      <img src="assets/icons/delete.png" alt="Eliminar">
                    </button>
                    <button mat-button class="action-button" (click)="editarBusqueda(element)">
                      <img src="assets/icons/edit.png"  alt="Editar">
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>



            </div>
            <div class="result-items__history" *ngSwitchCase="'history'">
              <table mat-table [dataSource]="dataSource">

                <!-- Position Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Nombre</th>
                  <td mat-cell *matCellDef="let element">
                    <a (click)="consultarBusqueda(element)">{{element.nombreBusqueda}}</a>
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{element.descripcion}}</em></td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="date_entered">
                  <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png" class="calendar-icon">{{ element.fechaCreacion  }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="date_modified">
                  <th mat-header-cell *matHeaderCellDef>Fecha modificación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png" class="calendar-icon">{{ element.fechaActualizacion }}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-button class="action-button" (click)="eliminar(element.idBusqueda)">
                      <img src="assets/icons/delete.png" alt="Eliminar">
                    </button>
                    <button mat-button class="action-button" (click)="editarBusqueda(element)">
                      <img src="assets/icons/edit.png"  alt="Editar">
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="result-pagination custom-paginator">
            <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
