::ng-deep {
  #filter-sidebar .container mat-expansion-panel {
    &.mat-expansion-panel-spacing {
      margin: 0;
    }

    .mat-expansion-indicator {
      &:after {
        color: var(--color-primary-blue);
        transform: rotate(45deg) translate(-50%, -50%);
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 30%;
      }

      position: relative;
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .example-radio-group {
      display: flex;
      flex-direction: column;
      margin: 15px 0;
    }
    
    .example-radio-button {
      margin: 5px;
    }
    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        .icon {
          > img {
            width: auto;
            height: 23px;
          }

          height: 32px;
          width: 32px;
          border-radius: 5px;
          display: flex;
          margin-right: 16px;
          background: transparent;
          justify-content: center;
          align-items: center;
        }

        color: white;
        font-weight: bold;
        align-items: center;
      }

      padding: 16px;
    }

    .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      .mat-checkbox-mixedmark {
        background-color: var(--color-secondary-blue);
      }
      .mat-checkbox-checkmark {
        fill: var(--color-secondary-blue);
      }

      .mat-checkbox-checkmark-path {
        stroke: var(--color-secondary-blue) !important;
      }

      background: white;
    }

    .mat-checkbox-frame {
      border-color: rgba(white, 0.5);
    }

    .mat-expansion-panel-content {
      background-color: var(--color-secondary-blue);
      padding: 16px 16px 0 0;
    }
/*
    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        .icon {
          &.icon-tree {
            background-image: url("/assets/icons/filters/icon-semaforo.png");
            background-size: cover;
          }
          &.icon-keyword {
            background-image: url("/assets/icons/filters/icon-llave.png");
            background-size: cover;
          }
          width: 35px;
          height: 35px;
          border-radius: 5px;
          display: flex;
          margin-right: 16px;
          background: transparent;
          justify-content: center;
          align-items: center;
        }
        color: white;
        font-weight: bold;
        align-items: center;
      }
      padding: 0;
    }
    &.mat-expanded {
      .icon {
        &.icon-tree {
          background-image: url("/assets/icons/filters/icon-semaforo-alt.png");
          background-size: cover;
        }
        &.icon-keyword {
          background-image: url("/assets/icons/filters/icon-llave-alt.png");
          background-size: cover;
        }
      }
      .mat-expansion-indicator {
        background-color: var(--color-primary-green);
      }
    }
    */
 
      .mat-expansion-panel-header {
        .mat-expansion-panel-header-title {
          .icon {
            &.icon-tree {
              background-image: url("/assets/icons/filters/icon-semaforo.png");
              background-size: cover;
            }
            &.icon-keyword {
              background-image: url("/assets/icons/filters/icon-llave.png");
              background-size: cover;
            }
            width: 35px;
            height: 35px;
            border-radius: 5px;
            display: flex;
            margin-right: 16px;
            background: transparent;
            justify-content: center;
            align-items: center;
          }
        }
      }
      &.mat-expanded {
        .icon {
          &.icon-tree {
            background-image: url("/assets/icons/filters/icon-semaforo-alt.png");
            background-size: cover;
          }
          &.icon-keyword {
            background-image: url("/assets/icons/filters/icon-llave-alt.png");
            background-size: cover;
          }
        }
        .mat-expansion-indicator {
          background-color: var(--color-primary-green);
        }
      }

    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
  }


#search-detail-page {
  .action-bar {
    .goback-container {
      button {
        .mat-icon {
          font-size: 0.8rem;
          color: var(--color-primary-blue);
          border: 1px solid var(--color-primary-blue);
          border-radius: 3px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          letter-spacing: -5px;
        }

        color: var(--color-primary-blue);
        padding-left: 0;
      }
    }

    .actions-container {
      button {
        &:last-child {
          .mat-icon {
            color: var(--color-primary-green);
            border: 1px solid var(--color-primary-blue);
            background: var(--color-primary-blue);
            border-radius: 3px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
          }

          padding-right: 0;
        }

        .mat-icon {
          color: var(--color-primary-blue);
          margin-left: 5px;
        }

        color: var(--color-primary-blue);
      }
    }

    padding: 3px 16px;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-between;
  }

  .premain-content {
    &.collapsed {
      display: none;
    }

    width: 100%;
    padding: 16px;
  }

  .main-content {
    #filter-sidebar {
      .container {
        background-color: var(--color-primary-blue);
        // padding: 16px;
        border-radius: 10px;
        width: 318px;
        padding-bottom: 30px;
        position: relative;
      }

      .filters {
        li {
          margin-bottom: 7px;
          color: white;
          font-weight: 600;
          font-size: 14px;
        }

        list-style: none;
        margin: 0;
      }

      &__toggle {
        img {
          width: 100%;
          height: auto;
        }

        position: absolute;
        bottom: 0px;
        left: 50%;
        border-radius: 50%;
        background: var(--color-primary-blue);
        border: 3px var(--color-primary-blue) solid;
        width: 45px;
        height: 45px;
        padding: 0;
        transform: translate(-50%, 50%) rotate(0deg);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        outline: none;
      }

      &.collapsed {
        #filter-sidebar__toggle {
          transform: translate(-50%, 50%) rotate(180deg);
          left: 35px;
        }

        width: 80px;
      }

      width: 350px;
      transition: width 0.3s ease-in-out;
      padding: 16px;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 50px;
      overflow-x: hidden;
    }

    #nodes-container {
      .items-tree-invisible {
        display: none;
      }

      .items-tree ul,
      .items-tree li {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: none;
      }

      .mat-tree {
        .mat-tree-node {
          .texto{
            width: 80%;
          }
          .mat-icon-button {
            .mat-icon {
              width: 17px;
              height: 17px;
              border-radius: 50%;
              color: var(--color-secondary-blue);
              background: white;
              line-height: 18px;
              font-size: 18px;
            }

            &[disabled] {
              background: transparent;
              display: none;
            }

            width: 30px;
            height: 30px;
            background: var(--color-secondary-blue);
            margin-right: 10px;
            border-radius: 5px;
            line-height: 30px;
          }

          margin: 15px 0;
          background: white;
          color: var(--color-secondary-blue);
          padding: 0 5px;
          font-weight: bold;
          min-height: 40px;
          border-radius: 5px;
          position: relative;
        }

        li.mat-tree-node {
          margin: 0;
          background: var(--color-light-blue);
          font-weight: normal;
          margin-left: -5px;
          margin-right: -5px;
        }

        .mat-checkbox {
          width: 30px;
          height: 30px;
          background: white;
          margin-right: 5px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
        }

        .node-text {
          background-color: white;
          box-shadow: 0 5px 4px 0 rgba(black, 0.1);
          margin-block-start: 0;
          padding: 1em;
          margin-top: -1.1em;
          color: var(--color-grey-600);
        }

        .r-badge {
          background: var(--color-primary-green);
          color: var(--color-secondary-blue);
          display: inline-flex;
          position: absolute;
          right: 5px;
          top: 5px;
          width: 30px;
          height: 30px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          font-weight: bold;
        }

        // .mat-nested-tree-node {
        //   .mat-tree-node {
        //     margin: 0;
        //   }
        // }

        background: transparent;
      }

      flex: 1;
      padding: 16px;
    }

    display: flex;
    flex-direction: row;
  }
}

}
.example-full-width {
  margin-top: -50px;
  margin-left: 20px;
  list-style-type: none;
  color: white;
  width:60%;
}

