<h1 class="dialog-title" *ngIf="data.title != undefined" mat-dialog-title>
  {{data.title}}

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" *ngIf="data.body1 != undefined" mat-dialog-content>
  <div >{{data.body1}}</div>
<div><p class="dialog-name">{{data.body2}}</p></div>
 
</div>

<div class="dialog-buttons" mat-dialog-actions>
  
  <button class="dialog-buttons__accept" [mat-dialog-close]="data.reason" mat-button (click)="close('accept')"
  cdkFocusInitial>{{ data.acceptButton }}</button>
</div>
