::ng-deep {
  #filter-sidebar .container mat-expansion-panel {
    .mat-expansion-indicator {
      &:after {
        color: var(--color-primary-blue);
        transform: rotate(45deg) translate(-50%, -50%);
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 30%;
      }
      position: relative;
      background-color: white;
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        .icon {
          &.icon-riesgos {
            background-image: url("/assets/icons/filters/icon-r-mas.png");
            background-size: cover;
          }
          &.icon-responsible {
            background-image: url("/assets/icons/filters/icon-admiracion.png");
            background-size: cover;
          }
          &.icon-involucred {
            background-image: url("/assets/icons/filters/icon-1.png");
            background-size: cover;
          }
          &.icon-regulation {
            background-image: url("/assets/icons/filters/icon-2.png");
            background-size: cover;
          }
          &.icon-date {
            background-image: url("/assets/icons/filters/icon-llave.png");
            background-size: cover;
          }
          width: 35px;
          height: 35px;
          border-radius: 5px;
          display: flex;
          margin-right: 16px;
          background: transparent;
          justify-content: center;
          align-items: center;
        }
        color: white;
        font-weight: bold;
        align-items: center;
      }
      padding: 0;
    }
    &.mat-expanded {
      .icon {
        &.icon-riesgos {
          background-image: url("~/assets/icons/filters/icon-r-mas-alt.png") !important;
        }
        &.icon-responsible {
          background-image: url("~/assets/icons/filters/icon-admiracion-alt.png") !important;
        }
        &.icon-involucred {
          background-image: url("~/assets/icons/filters/icon-1-alt.png") !important;
        }
        &.icon-regulation {
          background-image: url("~/assets/icons/filters/icon-2-alt.png") !important;
        }
        &.icon-date {
          background-image: url("~/assets/icons/filters/icon-llave-alt.png") !important;
        }
      }
      .mat-expansion-indicator {
        background-color: var(--color-primary-green);
      }
    }
    background: transparent;
    box-shadow: none;
    margin-bottom: 0;
  }
  .filters {
    .mat-checkbox {
      .mat-checkbox-frame {
        background-color: rgba(white, 0.5);
        border-color: transparent;
      }
      &.mat-checkbox-checked {
        .mat-checkbox-background {
          .mat-checkbox-checkmark {
            fill: var(--color-primary-blue);
          }
          .mat-checkbox-checkmark-path {
            stroke: var(--color-primary-blue) !important;
          }
          background-color: white;
        }
      }
    }
  }
}

#filter-sidebar {
  .container {
    background-color: var(--color-primary-blue);
    padding: 16px;
    border-radius: 10px;
    width: 318px;
    padding-bottom: 30px;
    position: relative;
  }
  .filters {
    li {
      margin-bottom: 7px;
      color: white;
      font-weight: 600;
      font-size: 14px;
    }
    list-style: none;
    margin: 0;
  }
  &__toggle {
    img {
      width: 100%;
      height: auto;
    }
    position: absolute;
    bottom: 0px;
    left: 50%;
    border-radius: 50%;
    background: var(--color-primary-blue);
    border: 3px var(--color-primary-blue) solid;
    width: 35px;
    height: 35px;
    padding: 0;
    transform: translate(-50%, 50%) rotate(0deg);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
  }
  &.collapsed {
    #filter-sidebar__toggle {
      transform: translate(-50%, 50%) rotate(180deg);
      left: 35px;
    }
    width: 80px;
  }
  width: 350px;
  transition: width 0.3s ease-in-out;
  padding: 16px;
  position: relative;
  margin-bottom: 50px;
  overflow-x: hidden;
  padding-bottom: 25px;
}
