<aside id="filter-sidebar" [class.collapsed]="filtersCollapsed">
  <div class="container">
    <mat-accordion [multi]="true">
      <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="icon icon-riesgos"></span> Riesgos asociados
          </mat-panel-title>
        </mat-expansion-panel-header>

        <ul class="filters">
          <li>
            <mat-checkbox>Lorem ipsum dolor</mat-checkbox>
          </li>
          <li>
            <mat-checkbox [checked]="true">Duis aute irure</mat-checkbox>
          </li>
          <li>
            <mat-checkbox [checked]="true">Excepteur sint occaecat</mat-checkbox>
          </li>
          <li>
            <mat-checkbox [checked]="true">Culpa qui officia</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
          <li>
            <mat-checkbox>Duis aute mollit</mat-checkbox>
          </li>
        </ul>
      </mat-expansion-panel>


      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="icon icon-responsible"></span> Área responsable
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="icon icon-involucred"></span> Área involucrada
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="icon icon-regulation"></span> Estado de la regulación
          </mat-panel-title>
        </mat-expansion-panel-header>

      </mat-expansion-panel>

      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="icon icon-date"></span> Fecha / Estado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-form-field color="light" style="width: 100%;">
          <input matInput [matDatepicker]="picker" placeholder="Seleccionar fecha">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker color="primary"></mat-datepicker>
        </mat-form-field>
      </mat-expansion-panel>

    </mat-accordion>

    <button (click)="filtersCollapsed = !filtersCollapsed" type="button" id="filter-sidebar__toggle">
      <img src="assets/icons/toggle-sidebar.png">
    </button>
  </div>
</aside>
