::ng-deep {
  .mat-card {
    .mat-card-header-text {
      margin: 0;
    }
  }
}

#regulations-list-page {
  .main-content {
    .mat-card {
      .mat-card-header {
        .switches {
          margin-bottom: 16px;
        }

        border-bottom: 1px solid var(--color-grey);
      }

      .result-items {
        .mat-table {
          a {
            color: var(--color-link-blue);
            font-size: 12pt;
            overflow: hidden;
            white-space: normal;
            text-overflow: ellipsis;
          }
          
          .mat-header-row {
            th.mat-header-cell {
              font-weight: bold;
              color: var(--color-secondary-blue);
              margin-right: 5px;
              font-size: 15px;
              border-bottom: 0;
              width: max-content;
            }
          }

          .mat-cell {
            .calendar-icon {
              display: inline-block;
              margin-right: 5px;
              padding: 0 10px;
            }

            .action-button {
              background: var(--color-grey);
              margin: 0px 5px;
              padding: 0 10px;
              min-width: 38px;
            }

            color: var(--color-grey-600);
            font-family: "Open Sans", sans-serif;
            vertical-align: middle;
            width: max-content;
          
          }
          
          width: 100%;
        }

        height: calc(100vh - 400px);
        overflow: auto;
        margin-top: 15px;
        
      }

      padding: 16px 32px;
    }

    padding: 0px 35px;
  }
  p {
    background: var(--color-primary-blue);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex: 1;
    color: white;
    font-size: .8rem;
    margin: 0;
    align-content: center;
    align-items: center;
    span{
      margin-left: 3px;
    }
  }
}
.mat-progress-bar {
  display: block;
  height: 2px;
  overflow: hidden;
  position: relative;
  transition: opacity 250ms linear;
  width: 100%;
  }