<app-header></app-header>
<div>  <mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar></div>
<div id="regulations-list-page">

  <div class="main-content">
    <div id="results-container">
      <mat-card>
        <mat-card-header>
          <div class="switches">
            <button [class.active]="switchHistory == 'modifies'" (click)="switchHistory = 'modifies'" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Modificación regulaciones
            </button>
            <button  routerLink="/regulations/modifications"  mat-button type="button"
              class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Nuevas regulaciones
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="result-items" [ngSwitch]="switchHistory">
            <div class="result-items__recents" *ngSwitchCase="'modifies'">

              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Cambio</th>
                  <td mat-cell *matCellDef="let element">
                    <a (click)="editarCambioReg(element)">{{ element.nombreCambioReg }}</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción cambio</th>
                  <td mat-cell *matCellDef="let element">{{ element.descripcionCambio }}</td>
                </ng-container>

                <ng-container matColumnDef="regulations">
                  <th mat-header-cell *matHeaderCellDef>Regulación impactada</th>
                  <td mat-cell *matCellDef="let element">
                    <a class="" href="#"  [matTooltip]="element.regulacionNueva.nombreRegulacionNivelII" >{{  element.regulacionNueva.nombreRegulacionNivelII }}</a>

                  </td>
                </ng-container>

                <ng-container matColumnDef="new_regulation">
                  <th mat-header-cell *matHeaderCellDef>Estado</th>
                  <td mat-cell *matCellDef="let element">
                    <p><span> Vigente</span></p>
                  </td>
                </ng-container>

                <ng-container matColumnDef="date_change">
                  <th mat-header-cell *matHeaderCellDef>Fecha cambio</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.fechaCambio}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="baselines">
                  <th mat-header-cell *matHeaderCellDef>Lines base afectadas</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="d-block" href="#" *ngFor="let bl of element.lineasBaseAfectadas">{{ bl.nombreLineaBase }}</span>
                  </td>
                </ng-container>

                <ng-container matColumnDef="author">
                  <th mat-header-cell *matHeaderCellDef>Autor</th>
                  <td mat-cell *matCellDef="let element">
                    <span class="d-block" href="#" *ngFor="let bl of element.lineasBaseAfectadas">{{ bl.autor }}</span>
            
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
          
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
