<h1 class="dialog-title" mat-dialog-title>
  Suscripción

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <div class="custom-form-group">
    <label class="text-right" for="name">Numero Usuarios</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="{{this.usuarioService.usuario.cliente.cantidadUsuarios}}" disabled>
  </div>



   
  <div *ngIf="this.usuarioService.usuario.rol != 'usuario'" class="custom-form-group date">
    <label class="text-right">Fecha inicio conrato</label>
    <input type="text" id="name" disabled placeholder="{{this.usuarioService.usuario.cliente.fechaInicioContrato}}" class="custom-form-control" [matDatepicker]="pickerSD" >
    <mat-datepicker-toggle matSuffix [for]="pickerSD"></mat-datepicker-toggle>
    <mat-datepicker #pickerSD></mat-datepicker>
  </div>

  <div *ngIf="this.usuarioService.usuario.rol != 'usuario'" class="custom-form-group date">
    <label class="text-right">Fecha fin conrato</label>
    <input type="text" id="name" disabled placeholder="{{this.usuarioService.usuario.cliente.fechaFinContrato}}" class="custom-form-control" [matDatepicker]="pickerSD2" >
    <mat-datepicker-toggle matSuffix [for]="pickerSD2"></mat-datepicker-toggle>
    <mat-datepicker #pickerSD2></mat-datepicker>
  </div>

  <div *ngIf="this.usuarioService.usuario.rol != 'usuario'" class="custom-form-group">
    <label class="text-right" for="name">Tipo Pago</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="{{this.usuarioService.usuario.cliente.tipoPago}}" disabled>
  </div>

  <div *ngIf="this.usuarioService.usuario.rol != 'usuario'" class="custom-form-group">
    <label class="text-right" for="name">Fecha de corte</label>
    <input type="text" id="name"  class="custom-form-control" placeholder="Fecha de corte" disabled>
  </div>

  <div class="custom-form-group">
    <label class="text-right">Jurisdicciones Contratadas</label>
 

    <ul > 
      <li *ngFor="let jurisdiccion of jurisdicciones">
       <div class="list">{{ jurisdiccion.nombreJurisdiccion }}</div>
      </li>  
    </ul>
  </div>
  <div class="custom-form-group">
    <label class="text-right">Dominios Impacto Contratados</label>
 

    <ul > 
      <li *ngFor="let dominioImpacto of dominiosImpacto">
       <div class="list">{{dominioImpacto.nombreDominioImpacto}}</div>
      </li>  
    </ul>
  </div>

  <div class="custom-form-group">
    <label class="text-right">Sectores Contratados</label>


    <ul > 
      <li  *ngFor="let sector of sectores">
       <div class="list">{{sector.nombreSector}}</div>
      </li>  
    </ul>
  </div>

</div>
<div *ngIf="this.usuarioService.usuario.rol != 'usuario'" class="dialog-buttons" mat-dialog-actions>

  <button class="dialog-buttons__accept" mat-button (click)="administrarUsuarios()" cdkFocusInitial>Administrar Usuarios</button>
</div>
