<app-header></app-header>

<div id="baseline-new-page">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <span>Requerimiento</span>
      </mat-card-title>
      <mat-card-subtitle>
        <span>Descripción del requerimiento</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form action="" method="post">

        <div class="form-container">
          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="critic">Criticidad</label>
              <mat-select id="critic" class="custom-form-control">
                <mat-option value="opt1">Opción 1</mat-option>
                <mat-option value="opt2">Opción 2</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="fulfillment-level">Nivel de cumplimiento</label>
              <mat-select id="fulfillment-level" class="custom-form-control">
                <mat-option value="opt1">Opción 1</mat-option>
                <mat-option value="opt2">Opción 2</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group date">
              <label for="fulfillment-date">Fecha cumplimiento</label>
              <input type="text" id="fulfillment-date" class="custom-form-control" placeholder="Lorem ipsum"
                [matDatepicker]="pickerFD">
              <mat-datepicker-toggle matSuffix [for]="pickerFD"></mat-datepicker-toggle>
              <mat-datepicker #pickerFD></mat-datepicker>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label class="text-right" for="politic">Política</label>
              <textarea type="text" id="politic" class="custom-form-control" placeholder="Lorem ipsum"
                rows="4"></textarea>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="politic-number">Numeral política</label>
              <input type="text" id="politic-number" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label class="text-right" for="risk">Riesgo</label>
              <textarea type="text" id="risk" class="custom-form-control" placeholder="Lorem ipsum" rows="4"></textarea>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label class="text-right" for="controls">Controles</label>
              <textarea type="text" id="controls" class="custom-form-control" placeholder="Lorem ipsum"
                rows="4"></textarea>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="responsible">Responsable</label>
              <input type="text" id="responsible" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label for="responsible-email">Email responsable</label>
              <input type="email" id="responsible-email" class="custom-form-control" placeholder="Lorem ipsum">
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group">
              <label class="text-right" for="action-plan">Plan acción</label>
              <textarea type="text" id="action-plan" class="custom-form-control" placeholder="Lorem ipsum"
                rows="4"></textarea>
            </div>
          </div>

          <div class="form-container__item">
            <div class="custom-form-group date">
              <label for="action-plan-date">Fecha plan de acción</label>
              <input type="text" id="action-plan-date" class="custom-form-control" placeholder="Lorem ipsum"
                [matDatepicker]="pickerAP">
              <mat-datepicker-toggle matSuffix [for]="pickerAP"></mat-datepicker-toggle>
              <mat-datepicker #pickerAP></mat-datepicker>
            </div>
          </div>


          <div class="form-container__item">
            <div class="action-buttons">
              <button routerLink="/fulfillment" type="button" mat-button>Cancelar</button>
              <button (click)="openNotificationsForm()" type="button" mat-stroked-button color="primary">
                Gestionar notificaciones
              </button>
              <button routerLink="/fulfillment/list" type="button" mat-raised-button color="primary">
                Guardar
              </button>
            </div>
          </div>

        </div>

      </form>

    </mat-card-content>
  </mat-card>
</div>
