<div id="header-filter-search">
  <div class="switches">
    
    <button   class="switches__button" mat-button [class.active]="switchFilter == 'filters'" (click)="cambiarFiltro('filters')" type="button">
      <mat-icon>filter_list</mat-icon>Generar filtros
    </button>
    
    <button [class.active]="switchFilter == 'search'" (click)="cambiarFiltro('search')" mat-button type="button"
      class="switches__button">
      <span class="icon"><img src="assets/icons/filters.png"></span> Buscar por regulación
    </button>
  </div>

  <div class="main-content" [ngSwitch]="switchFilter">
    <div class="main-content__filters" *ngSwitchCase="'filters'">
      <mat-grid-list class="form-container" cols="6" rowHeight="70px">
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            
         
            <label for="word">Palabra Clave</label>
            
            <input type="text" id="word" matInput class="custom-form-control" [(ngModel)]="palabraClave" placeholder="Palabra Clave">
       
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction">Jurisdicción</label>
            <mat-select class="custom-form-control" multiple [(value)]="filtrosBusqueda.idJurisdiccionesSel">
              <mat-option [value]="jurisdiccion.id" *ngFor="let jurisdiccion of jurisdicciones">{{ jurisdiccion.nombreJurisdiccion }}
            
              </mat-option>
              
            </mat-select>

           
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="sector">Sector</label>
            <mat-select class="custom-form-control" multiple [(value)]="filtrosBusqueda.idSectoresSel">
              <mat-option [value]="sector.id" *ngFor="let sector of sectores">{{sector.nombreSector}}</mat-option>
            </mat-select>

         
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="impact-domain">Dominio de impacto</label>
            <mat-select class="custom-form-control" multiple   [(value)]="filtrosBusqueda.idDominiosImpactoSel">         
              <mat-option  [value]="dominioImpacto.id" *ngFor="let dominioImpacto of dominiosImpacto">{{dominioImpacto.nombreDominioImpacto}}
                <a *ngIf="dominioImpacto.habilitar === false" class="link">INACTIVO</a>
              </mat-option>
            </mat-select>

          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="autority-source">Fuente de autoridad</label>
            <mat-select class="custom-form-control" multiple  [(value)]="filtrosBusqueda.idFuentesAutoridadSel">
              <mat-option [value]="fuenteAutoridad.id" *ngFor="let fuenteAutoridad of fuentesAutoridad">{{fuenteAutoridad.nombreFuenteAutoridad}}</mat-option>
            </mat-select>
           
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <button mat-button class="clear-filters" (click)="crearBusqueda(event)">
            <img src="assets/icons/clear-filters.png">
          </button>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
    <div class="main-content__search" *ngSwitchCase="'search'">
      <mat-grid-list class="form-container" cols="6" rowHeight="60px">
        <mat-grid-tile colspan="5" class="form-container__item">
          <div class="custom-form-group">
            <label for="regulation">Regulación</label>
            <input type="text" id="regulation" class="custom-form-control" placeholder="Lorem ipsum" [(ngModel)]="regulacion" placeholder="Regulacion"
            (ngModelChange)="consultarRegulacioesNombre($event)" [formControl]="myControl2" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let regulacion of filteredRegulacion | async" [value]="regulacion">
                {{ regulacion }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <button mat-button class="clear-filters"  (click)="crearBusquedaRegulacion(event)">
            <img src="assets/icons/clear-filters.png">
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
