::ng-deep {
  .mat-grid-tile.form-container__item .mat-figure {
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
.menu-tooltip {
  background:  var(--color-primary-blue);

}
#header-filter-search {
  .main-content {
    &__buttons {
      .btn-filter,
      .btn-toggler {
        min-width: 42px;
        padding: 0;
        margin-left: 10px;
        background: var(--color-secondary-blue);
        color:var(--color-primary-green);
      }

      mat-checkbox {
        margin-left: 10px;
      }

      text-align: right;
      width: 160px;
    }
    &__filters,
    &__search {
      .form-container {
        &__item {
          .clear-filters {
            img {
              width: 100%;
              height: auto;
            }

            background: var(--color-secondary-blue);
            border: none;
            display: inline-block;
            width: 27px;
            height: 27px;
            margin-bottom: 10px;
            border-radius: 5px;
            padding: 5px;
            min-width: unset;
            line-height: 0;
          }
        }
      }
    }

    margin-top: 16px;
  }

  padding: 16px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
.link {
  background-color: var(--color-primary-blue);
  color: white;
  font-weight: bold;
  border-radius: 24px;
  padding: 1px 5px;
  font-size: 0.7rem;
   font-weight: 600;
  text-decoration: none;
  margin-left: 60px;
  margin-right: -50px;
}