<app-header></app-header>

<div id="search-page">
  <app-header-filter-search></app-header-filter-search>

  <div class="main-content">
    <aside id="filter-sidebar" [class.collapsed]="filtersCollapsed">
      <div class="container">
        <mat-accordion [multi]="true">
          <mat-expansion-panel [expanded]="false" class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-riesgos"></span> Riesgos asociados
              </mat-panel-title>
            </mat-expansion-panel-header>

            <ul class="filters">
              <li *ngFor="let riesgo of this.resultadoBusqueda.riesgosAsociados"> 
                <mat-checkbox (change)="agregarRiesgo($event,riesgo.id)" *ngIf=" this.filtrosDetalle.idRiesgosAsociadosSel.indexOf(riesgo.id) > -1 " value="riesgo.id" [checked]="true">{{riesgo.nombreRiesgo }}</mat-checkbox>
                <mat-checkbox (change)="agregarRiesgo($event,riesgo.id)" *ngIf=" this.filtrosDetalle.idRiesgosAsociadosSel.indexOf(riesgo.id) == -1 " value="riesgo.id" [checked]="false">{{riesgo.nombreRiesgo }}</mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>


          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-responsible"></span> Área responsable
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="filters">
              <li *ngFor="let areaResponsable of this.resultadoBusqueda.areasResponsables"> 
                <mat-checkbox (change)="agregarAreaResponsable($event,areaResponsable.id)" *ngIf="this.filtrosDetalle.idAreasResponsablesSel.indexOf(areaResponsable.id) > -1" value="areaResponsable.id" [checked]="true">{{areaResponsable.nombreArea }}</mat-checkbox>
                <mat-checkbox (change)="agregarAreaResponsable($event,areaResponsable.id)" *ngIf="this.filtrosDetalle.idAreasResponsablesSel.indexOf(areaResponsable.id) == -1" value="areaResponsable.id" [checked]="false">{{areaResponsable.nombreArea }}</mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-involucred"></span> Área involucrada
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="filters">
              <li *ngFor="let areaInvolucrada of this.resultadoBusqueda.areasInvolucradas"> 
                <mat-checkbox (change)="agregarAreaInvolucrada($event,areaInvolucrada.id)" *ngIf="this.filtrosDetalle.idAreasInvolucradasSel.indexOf(areaInvolucrada.id) > -1" value="areaInvolucrada.id" [checked]="true">{{areaInvolucrada.nombreArea }}</mat-checkbox>
                <mat-checkbox (change)="agregarAreaInvolucrada($event,areaInvolucrada.id)" *ngIf="this.filtrosDetalle.idAreasInvolucradasSel.indexOf(areaInvolucrada.id) == -1" value="areaInvolucrada.id" [checked]="false">{{areaInvolucrada.nombreArea }}</mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-regulation"></span> Estado de la regulación
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="filters">
              <li *ngFor="let estadoRegulacion of this.resultadoBusqueda.estadosRegulaciones"> 
                <mat-checkbox (change)="agregarEstadoReg($event,estadoRegulacion.id)" *ngIf="estadoRegulacion.id == this.filtrosDetalle.idEstadoRegulacionSel" value="estadoRegulacion.id" [checked]="true">{{estadoRegulacion.nombreEstado }}</mat-checkbox>
                <mat-checkbox (change)="agregarEstadoReg($event,estadoRegulacion.id)" *ngIf="estadoRegulacion.id != this.filtrosDetalle.idEstadoRegulacionSel" value="estadoRegulacion.id" [checked]="false">{{estadoRegulacion.nombreEstado }}</mat-checkbox>
              </li>
            </ul>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-date"></span> Fecha / Estado
              </mat-panel-title>
            </mat-expansion-panel-header>
    
            <mat-form-field color="light" style="width: 100%;">
              <input matInput [(ngModel)]="fechaDesde" [matDatepicker]="picker" placeholder="Seleccionar fecha desde">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker color="primary"></mat-datepicker>
            </mat-form-field>

            <mat-form-field color="light" style="width: 100%;">
              <input matInput [(ngModel)]="fechaHasta" [matDatepicker]="picker2" placeholder="Seleccionar fecha hasta">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 color="primary"></mat-datepicker>
            </mat-form-field>
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon"><img src="assets/icons/word.png"></span> Palabra clave
              </mat-panel-title>
          
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
              <input id="word" matInput class="custom-form-control"placeholder="Palabra Clave"
              >
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let palabraClave of filteredOptions | async" [value]="palabraClave">
                {{ palabraClave }}
              </mat-option>
            </mat-autocomplete>
            </mat-form-field>

          
          </mat-expansion-panel>
          <button mat-button class="clear-filters" (click)="consultarFiltrosDetalle(event)">
            <img src="assets/icons/clear-filters.png" width="30" height="30">
          </button>
        </mat-accordion>

        <button (click)="filtersCollapsed = !filtersCollapsed" type="button" id="filter-sidebar__toggle">
          <img src="assets/icons/toggle-sidebar.png">
        </button>
      </div>
    </aside>
    <div id="results-container">
      <div class="result-actions">
        <div class="result-actions__qty">
          <strong>{{cantidadRegulaciones}}</strong> Regulaciones encontradas / <strong>{{cantidadRegulacionesSelec}}</strong> Regulaciones seleccionadas
        </div>
        <div class="result-actions__button">
          <button (click)="saveSearch()" *ngIf="cantidadRegulaciones != 0 && cantidadRegulacionesSelec != 0" type="button">Guardar búsqueda</button>
        </div>
      </div>

      <div class="result-items">
        <app-result-item-search *ngFor="let i of arregloMockItem" (checkChange)="onCheckChange($event)" [item]="i">
        </app-result-item-search>
      </div>
      <div class="result-pagination custom-paginator">
        <mat-paginator [length]="cantidadRegulaciones" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
