<div id="password-change">
  <mat-card class="password-change-container">
    <mat-card-content>
      <div class="form-container" cols="1" rowHeight="120px">
        <div class="form-container__image">
          <img src="assets/images/logo.png" alt="Accurex">
        </div>
        <div class="form-container__item">
          <div class="custom-form-group">
            <label for="word">Contraseña</label>
            <input type="password" [(ngModel)]="contrasenaNueva" id="password" name="password" class="custom-form-control" placeholder="Lorem ipsum">
          </div>
        </div>
        <div class="form-container__item">
          <div class="custom-form-group">
            <label for="word">Confirmar contraseña</label>
            <input type="password" [(ngModel)]="confirmacionContrasena" id="word" class="custom-form-control" placeholder="Lorem ipsum">
          </div>
        </div>
        <app-password-strength  [passwordToCheck]="contrasenaNueva" [barLabel]="barLabel">    </app-password-strength>
        <div class="custom-form-group">
        <label for="word" *ngIf="!this.coinciden" style="color: red">Las contraseñas no coinciden</label>
        </div>
        <div class="form-container__button">
          <button mat-raised-button color="secondary" (click)="cancelar()" type="button">Cancelar</button>

          <button mat-raised-button color="primary" (click)="cambiarContrasena()" type="button">Cambiar contraseña</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
