#password-change {
  .password-change-container {
    .form-container {
      &__image {
        img {
          max-width: 100%;
          display: inline-block;
          margin-top: -70px;
          margin-bottom: -90px;
        }

        width: 100%;
        text-align: center;
      }

      &__item {
        margin: 15px 0;
      }

      &__button {
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 30px;
      }

      &__link {
        a {
          text-decoration: none;
          color: var(--color-secondary-blue);
        }

        font-weight: bold;
        text-align: center;
        margin-top: 15px;
      }
    }

    max-width: 450px;
    margin: 50px auto;
  }

}
