<h1 class="dialog-title" mat-dialog-title>
  Guardar Búsqueda

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <div class="custom-form-group">
    <label class="text-right" for="name">Nombre de la búsqueda</label>
    <input type="text" id="name" [(ngModel)]="this.busqueda.nombreBusqueda" class="custom-form-control" placeholder="Nombre Busqueda">
  </div>

  <div class="custom-form-group">
    <label class="text-right" for="description">Descripción de la búsqueda</label>
    <textarea type="text" id="description" [(ngModel)]="this.busqueda.descripcion" class="custom-form-control" placeholder="Descripción Busqueda" rows="4"></textarea>
  </div>

  <div class="custom-form-group">
    <label class="text-right">Regulaciones seleccionadas</label>
    <hr class="separator">

    
    <ul class="regulations" *ngFor="let regulaciones of this.regulacionesSelec">
      <strong  class="regulations-title">{{regulaciones.fuenteAutoridad}}</strong>
      <li>
        <mat-checkbox   value="regulaciones.id" [checked]="true" (change)="onCheckChange($event,regulaciones.id)" *ngIf="this.fuentesFiltradas.indexOf(regulaciones.fuenteAurtoridad)" color="primary" ><div class="etiqueta-renglon">{{regulaciones.nombreRegulacion}}</div></mat-checkbox>
      </li>
     
    
    </ul>
  </div>
</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close()">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="guardarBusqueda()" cdkFocusInitial>Guardar búsqueda</button>
</div>
