<h1 class="dialog-title" mat-dialog-title>
  Soporte
  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <div class="custom-form-group">
    <label class="text-right">Hola Sherlock! En que te podemos ayudar!</label>
  </div>

  <div class="custom-form-group">
    <label class="text-right" for="type">Tipo de soporte<sup>*</sup></label>
    <mat-select class="custom-form-control text-left">
      <mat-option value="">Seleccionar</mat-option>
      <mat-option value="1">Lorem ipsum</mat-option>
    </mat-select>
  </div>

  <div class="custom-form-group">
    <label class="text-right" for="description">Descripción del caso<sup>*</sup></label>
    <textarea type="text" id="description" class="custom-form-control" placeholder="Lorem ipsum" rows="6"></textarea>
  </div>

  <div class="custom-form-group info">
    <hr class="separator">
    <a href="https://www.egrcconsulting.com.co" target="_blank">https://www.egrcconsulting.com.co</a>
    <a href="mail:info@egrcconsulting.com.co" target="_blank">info@egrcconsulting.com.co</a>
    <strong>Calle 1 # 2 - 3</strong>
    <strong>+57 (1) 1234567</strong>
  </div>
</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close()">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="close()" cdkFocusInitial>Enviar</button>
</div>
