<div id="password-forgot">
  <mat-card class="password-forgot-container">
    <mat-card-content>
      <div class="form-container" cols="1" rowHeight="120px">
        <div class="form-container__image">
          <img src="assets/images/logo.png" alt="Accurex">
        </div>
        <div class="form-container__item">
          <div class="custom-form-group">
            <label for="word">Nombre de usuario</label>
            <input type="text" id="word" class="custom-form-control" placeholder="Lorem ipsum">
          </div>
        </div>

        <div class="form-container__button">


          <button mat-raised-button color="primary"  type="button">Recuperar contraseña</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
