@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"),
    url("~/assets/fonts/open-sans/mem5YaGs126MiZpBA-UN_r8OUuhs.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"),
    url("~/assets/fonts/open-sans/mem8YaGs126MiZpBA-UFVZ0e.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"),
    url("~/assets/fonts/open-sans/mem5YaGs126MiZpBA-UNirkOUuhs.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("~/assets/fonts/open-sans/mem5YaGs126MiZpBA-UN7rgOUuhs.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"),
    url("~/assets/fonts/open-sans/mem5YaGs126MiZpBA-UN8rsOUuhs.ttf") format("truetype");
}
