/// Colors
.text-primary-green {
  color: var(--color-primary-green);
}

.d-block {
  display: block;
  
}

#filter-sidebar {
  .mat-expansion-panel-body {
    max-height: 200px;
    overflow-y: auto;
  }
}

.custom-form-group {
  label {
    &.text-right {
      text-align: left;
      margin-left: 10px;
    }

    color: var(--color-secondary-blue);
    font-weight: 700;
    font-size: 0.9rem;
    display: block;
    width: 100%;
    margin-bottom: 7px;
  }

  .regulations-title {
    font-size: 0.9rem;
    text-align: left;
    display: block;
  }

  &.date {
    .custom-form-control {
      padding-right: 30px;
    }

    .mat-datepicker-toggle {
      .mat-icon-button {
        width: 20px;
        height: 20px;
      }

      position: absolute;
      right: 21px;
      bottom: 5px;
    }
  }

  .regulations {
    label {
      font-weight: normal;
      color: var(--color-grey-600);
    }

    text-align: left;
    list-style-type: none;
  }

  .custom-form-control {
    @include placeholder {
      color: var(--color-grey-600);
      font-weight: 600;
    }

    .mat-select-value-text {
      color: var(--color-grey-600);
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 13px;
    }

    .mat-select-value {
      padding-top: 0;
    }

    .mat-select-arrow {
      background: #fafafa url("~/assets/icons/select-icon.png") center right no-repeat;
      background-size: 20px 20px;
      width: 21px;
      height: 21px;
      appearance: none;
      border: none;
      padding: 0;
  
    }

    &[type="text"] {
      padding: 5px 15px;
    }

    display: block;
    width: 100%;
    background-color: var(--color-grey);
    border-radius: 6px;
    border: 1px var(--color-grey) solid;
    padding: 2px 0px 2px 15px;
    color: var(--color-grey-600);
    outline: none;
    min-height: 27px;
  }

  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.custom-paginator {
  .mat-paginator-container {
    justify-content: flex-start;
  }

  .mat-paginator {
    color: var(--color-primary-blue);
    font-weight: 600;
    background: transparent;
  }

  .mat-icon-button {
    &[disabled] {
      color: white;
      opacity: 0.7;
    }

    .mat-paginator-icon {
      width: 20px;
    }

    color: white;
    background: var(--color-primary-blue);
    border-radius: 5px;
    margin: 0 5px;
    width: 25px;
    height: 25px;
    line-height: 1;
  }
}

.switches {
  &__button {
    .icon {
      > img {
        visibility: hidden;
        height: 100%;
        width: auto;
      }

      height: 25px;
      width: 25px;
      padding: 5px;
      margin-right: 5px;
      display: inline-block;
      background-color: var(--color-grey);
      border-radius: 2px;
      line-height: 0;
    }

    &.active {
      .icon {
        > img {
          visibility: visible;
        }

        background-color: white;
        border: 1px var(--color-secondary-blue) solid;
      }

      color: var(--color-secondary-blue);
    }

    &.mat-button {
      padding-left: 0;
    }

    color: var(--color-grey-500);
    padding: 0;
    margin-right: 16px;
    padding: 0;
  }
}

/// Dialogs
body {
  .mat-dialog-container {
    .dialog-title {
      .btn-close {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        position: absolute;
        right: 15px;
        top: 5px;
        background: white;
        color: var(--color-secondary-blue);
        border: 1px var(--color-secondary-blue) solid;
        cursor: pointer;
        min-width: unset;
        padding: 0;
        line-height: 1;
        font-family: "Open Sans", sans-serif;
      }

      color: var(--color-secondary-blue);
      background-color: var(--color-grey);
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: 0;
      padding: 5px 45px 5px 15px;
      border-radius: 5px;
      position: relative;
    }

    .dialog-name {
      color: var(--color-primary-green);
      font-size: 1rem;
      font-weight: bold;
      margin-bottom: -50px;
      padding: 0px 0px 0px 0px;
      border-radius: 5px;
 
      margin:0;
    }

    .dialog-body2 {
      color: var(--color-grey-600);
      font-size: 1rem;
      font-family: "Open Sans", sans-serif;
      margin-bottom: -50px;
      padding: 0px 0px 0px 0px;
      border-radius: 5px;
 
      margin:0;
    }
    .mat-dialog-content.dialog-body {
      padding: 5px 5px 5px 5px;
      text-align: center;
      margin-top: -10;
      color: var(--color-grey-600);
      font-family: "Open Sans", sans-serif;
      margin: 0;
      width: inherit;
    }

    .mat-dialog-content.dialog-body-padding {
      padding: 5px 5px 5px 5px;
      margin: 0;
    }

    .dialog-buttons {
      &__accept {
        background: var(--color-secondary-blue);
        color: var(--color-primary-green);
        border-color: var(--color-secondary-blue);
      }

      &__cancel {
        background: white;
        color: var(--color-secondary-blue);
        border-color: var(--color-secondary-blue);
      }

      &__accept,
      &__cancel {
        line-height: 28px;
        padding: 0 25px;
        border-radius: 9px;
        border-width: 1px;
        border-style: solid;
      }

      margin-bottom: 0;
      justify-content: center;
      text-align: center;
    }

    padding: 5px;
  }

  .download-mat-menu {
    .mat-menu-item {
      color: var(--color-secondary-blue);
      font-weight: bold;
    }
  }

  .color-select-container,
  .custom-form-select {
    .mat-select {
      .mat-select-arrow {
        background: var(--color-grey) url("~/assets/icons/select-icon.png") center right no-repeat;
        background-size: 20px 20px;
        width: 21px;
        height: 21px;
        appearance: none;
        border: none;
        padding: 0;
      }

      width: 30px;
    }
  }

  .custom-form-select {
    .mat-select {
      width: 100%;
    }
  }
}

.mat-badge-primary-green .mat-badge-content {
  background: var(--color-primary-green);
  color: var(--color-secondary-blue);
}

app-header {
  position: static;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
}

body {
  padding-top: 0px;
}

.primary-tooltip {
  background: var(--color-secondary-blue);
  color: white;
  font-weight: bold;
}

.mat-button.btn-fusion .mat-button-wrapper > * {
  > * {
    vertical-align: baseline;
  }
}

mat-card-footer,
.action-buttons {
  .mat-button {
    background: white;
    border: 1px var(--color-secondary-blue) solid;
    color: var(--color-secondary-blue);
    font-weight: bold;
  }
}

.mat-raised-button.mat-primary {
  background-color: var(--color-secondary-blue);
  color: var(--color-primary-green);
  font-weight: bold;
}

.mat-raised-button.mat-secondary {
  background: transparent;
  border: 1px var(--color-secondary-blue) solid;
  color: var(--color-secondary-blue);
  font-weight: bold;
}

.mat-progress-bar-fill:after {
  background-color: var(--color-primary-green);
}

.mat-datepicker-toggle {
  button {
    color: white;
  }
}

#filter-sidebar {
  .mat-form-field-underline,
  .mat-form-field-ripple {
    background-color: white;
  }

  .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
  }

  .mat-input-element {
    color: white;
  }
}
