:root {
  --color-grey: #f4f5f8;
  --color-grey-500: #c4c4c4;
  --color-grey-600: #7c7c7c;

  --color-primary-blue: #5756f4;
  --color-secondary-blue: #014a84;
  --color-link-blue: #006af0;
  --color-light-blue: #e0e0ff;

  --color-primary-green: #17d0ef;
  --color-secondary-green: #01ff1a;
}

$mat-myapp-accent: (
  50: #ebebfe,
  100: #cdccfc,
  200: #ababfa,
  300: #8989f7,
  400: #706ff6,
  500: #5756f4,
  600: #4f4ff3,
  700: #4645f1,
  800: #3c3cef,
  900: #2c2bec,
  A100: #ffffff,
  A200: #f8f8ff,
  A400: #c5c5ff,
  A700: #acacff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  )
);
