<div id="login">
  <mat-card class="login-container">
    <mat-card-content>
      <div class="form-container" cols="1" rowHeight="120px">
        <div class="form-container__image">
          <img src="assets/images/logo.png" alt="Accurex">
        </div>
        <div class="form-container__item">
          <div class="custom-form-group">
            <label for="word">Nombre de usuario</label>
            <input [(ngModel)]="nombreUsuario" type="text" id="word" class="custom-form-control" placeholder="Lorem ipsum">
          </div>
        </div>
        <div class="form-container__item">
          <div class="custom-form-group">
            <label for="word">Contraseña</label>
            <input type="password"  [(ngModel)]="contrasena" id="word" class="custom-form-control" placeholder="Lorem ipsum">
          </div><nav></nav>
        </div>

        <div class="form-container__button">
          <mat-checkbox color="primary">Recordarme</mat-checkbox>
          <button mat-raised-button color="primary" (click)="iniciarSesion()" type="button">Iniciar sesión</button>
        </div>

        <div class="form-container__link">
          <a routerLink="/password/forgot">¿Olvidaste tu contraseña?</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
