<app-header></app-header>

<div id="fulfillment-detail-page">
  <div class="action-bar">
    <div class="goback-container">
      <button routerLink="/regulations/list" mat-button>
      <mat-icon>arrow_back_ios</mat-icon> Volver a la pantalla anterior
      </button>
    </div>
    <div class="actions-container">
       <button mat-button [matMenuTriggerFor]="menu">Exportar Como <mat-icon>arrow_drop_down_circle
        </mat-icon></button>
      <mat-menu class="download-mat-menu" #menu="matMenu">
        <button mat-menu-item>Exportar como .pdf</button>
       
      </mat-menu>


      <button mat-button (click)="collapsed = !collapsed">
        <span *ngIf="collapsed">Mostrar detalle</span>
        <mat-icon *ngIf="collapsed">expand_more</mat-icon>
        <span *ngIf="!collapsed">Esconder detalle</span>
        <mat-icon *ngIf="!collapsed">expand_less</mat-icon>
      </button>
    </div>
  </div>
  <div class="premain-content" [class.collapsed]="collapsed">
    <div class="result-items">
      <app-result-cambio-reg [item]="mockItem" [withLink]="false"></app-result-cambio-reg>
    </div>
  </div>

  <div class="main-content">
    <aside id="filter-sidebar" [class.collapsed]="filtersCollapsed">
      <div class="container">
        <mat-accordion [multi]="true">
       

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-tree" ></span> Expandir/Contraer árbol
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="filters">
              <li> 
                <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="opcion"
                (ngModelChange)="opcionSeleccionada($event)">
                <mat-radio-button  class="example-radio-button" value="Expandir">
                   Expandir
                </mat-radio-button>
                <mat-radio-button  class="example-radio-button" value="Expandir Nivel 1">
                  Expandir Nivel 1
               </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Contraer">
                  Contraer
                       </mat-radio-button>
              </mat-radio-group>
      
          
                
              </li>
            </ul>
          </mat-expansion-panel>

      
        </mat-accordion>

        <button (click)="filtersCollapsed = !filtersCollapsed" type="button" id="filter-sidebar__toggle">
          <img src="assets/icons/toggle-sidebar.png">
        </button>
      </div>
    </aside>
    <div id="nodes-container">
      <mat-tree  #tree [dataSource]="dataSource" [treeControl]="treeControl" class="items-tree">
        
        <mat-tree-node *matTreeNodeDef="let node;  when: isReq" matTreeNodeToggle>
            <li class="mat-tree-node">
              <!-- <mat-checkbox color="primary" class="checklist-leaf-node"></mat-checkbox> -->
             <div *ngIf=" compararRequerimientos(node) == null">{{ node.textoAsociado }}
         
            </div> 

              <!-- <span class="r-badge" [class.blue-dark]="treeControl.isExpanded(node)" matTreeNodeToggle matTooltipClass="primary-tooltip" [matTooltip]="treeControl.isExpanded(node) ? 'Ocultar requerimientos' : 'Mostrar requerimientos' " matTooltipPosition="above">{{ treeControl.isExpanded(node) ? 'R-' : 'R+' }}</span> -->
            </li>
         
        </mat-tree-node>
       

        <mat-nested-tree-node *matTreeNodeDef="let node;">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" *ngIf="node.textoAsociado !== '' || tieneHijos(node)">
                <mat-icon class="mat-icon-rtl-mirror" >
                  {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
              </button>
              <button mat-icon-button *ngIf="node.textoAsociado == '' && !tieneHijos(node)">
              </button>
              <div *ngIf=" metodoCompararTitulo(node) == null" innerHTML ="{{ node.texto | highlight : busqueda }}"></div><br>
              <div *ngIf="node.texto != metodoCompararTitulo(node)" class="title-text2" innerHTML ="{{ metodoCompararTitulo(node) | highlight : busqueda }}"></div>
              <div *ngIf="node.texto != metodoCompararTitulo(node) && metodoCompararTitulo(node) != null" class="title-text3" innerHTML ="{{ node.texto | highlight : busqueda }}"></div><br>
            
              <span class="r-badge" *ngIf="node.tieneRequerimientos=='S'" matTreeNodeToggle
                matTooltipClass="primary-tooltip"
                [matTooltip]="'Tiene requerimientos'"
                matTooltipPosition="above">{{ node.tieneRequerimientos=='S' ? 'R' : '' }}</span>
            </div>
            <ul [class.items-tree-invisible]="!treeControl.isExpanded(node) && !evaluarIsExpanded(node)">
              <div class="node-text" *ngIf="node.textoAsociado != '' && metodoComparar(node) == null && textoNuevo(node) == null"
              innerHTML ="{{ node.textoAsociado | highlight : busqueda }}"></div>
              <div class="node-text2" *ngIf="node.textoAsociado != '' && node.textoAsociado != metodoComparar(node) && metodoComparar(node) != null"
              innerHTML ="{{ metodoComparar(node) | highlight : busqueda }}"></div> 
              <div class="node-text3" *ngIf="node.textoAsociado != '' && node.textoAsociado != metodoComparar(node) && metodoComparar(node) != null "
                 innerHTML ="{{ node.textoAsociado | highlight : busqueda }}"></div>
              <div class="node-text3" *ngIf="node.textoAsociado != '' && textoNuevo(node) !=null && metodoComparar(node) == null "
                 innerHTML ="{{ textoNuevo(node) | highlight : busqueda }}"></div>
                
               
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
         
          </li>
        </mat-nested-tree-node>
      </mat-tree>
  

     
    </div>
   
  </div>

  <div class="action-buttons">
    <button type="button" mat-raised-button color="primary"  (click)="applyChangesToBaseline()">
      Aplicar cambio
    </button>
  </div>
</div>
