<h1 class="dialog-title" mat-dialog-title>
  Guardar Línea Base

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>
  <div class="custom-form-group">
    <label class="text-right" for="name">Nombre de la Linea Base</label>
    <input type="text" id="name"   [(ngModel)]="this.lineaBaseService.fusionLineaBase.nombreLineaBase" class="custom-form-control" placeholder="Nombre de la Linea Base">
  </div>

  <div class="custom-form-group">
    <label class="text-right" for="description">Descripción de la Linea Base</label>
    <textarea type="text" id="description"   [(ngModel)]="this.lineaBaseService.fusionLineaBase.descripcionLineaBase" class="custom-form-control" placeholder="Descripción de la Linea Base" rows="4"></textarea>
  </div>

  <div class="custom-form-group">
    <strong class="regulations-title">Línea Base seleccionadas</strong>
    <ul class="regulations" *ngFor="let lineasBase of this.lineaBaseService.lineasBaseFusion">
      <li>
        <mat-checkbox (change)="onCheckChange($event,lineasBase)" color="primary">{{lineasBase.nombreLineaBase}}</mat-checkbox>
      </li>
    
    </ul>
  </div>

</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close('cancel')">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="guardaLineaBase('accept')" cdkFocusInitial>Guardar línea base</button>
</div>
