<app-header></app-header>

<div id="baseline-save-page">
  <div class="action-bar">
    <div class="goback-container">
      <button routerLink="/fulfillment" mat-button>
        <mat-icon>arrow_back_ios</mat-icon> Volver a la pantalla anterior
      </button>
    </div>
    <div class="actions-container">
      <button mat-button [matMenuTriggerFor]="menu">Exportar como<mat-icon>arrow_drop_down_circle
      </mat-icon></button>
    <mat-menu class="download-mat-menu" #menu="matMenu">

      <button (click)="exportarPdf()" mat-menu-item>Exportar como .pdf</button>
    </mat-menu>



      <button (click)="arboles()" class="btn-tree" mat-button>
        <mat-icon>share</mat-icon>
      </button>

      <button  routerLink="/fulfillment" class="btn-toggler" mat-button>
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
    </div>
  </div>
  <div class="main-content">
    <aside id="filter-sidebar" [class.collapsed]="filtersCollapsed">
      <div class="container">
        <mat-accordion [multi]="true">
          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-keyword"></span> Keyword
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="example-full-width">
              <input matInput  [(ngModel)]="palabraClaveAux">
            </mat-form-field>
           
               <button mat-button class="clear-filters" (click)="construirArbolPalabra(palabraClaveAux)">
              <img src="assets/icons/clear-filters.png" width="20" height="20">
            </button>
           
          </mat-expansion-panel>

          <mat-expansion-panel class="mat-elevation-z0">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="icon icon-tree" ></span> Expandir/Contraer árboles
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul class="filters">
              <li> 
                <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="opcion"
                (ngModelChange)="opcionSeleccionada($event)">
                <mat-radio-button  class="example-radio-button" value="Expandir">
                   Expandir Todo
                </mat-radio-button>
                <mat-radio-button  class="example-radio-button" value="Expandir Nivel 1">
                  Expandir Nivel 1
               </mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Contraer">
                  Contraer
                       </mat-radio-button>
              </mat-radio-group>
      
          
                
              </li>
            </ul>
          </mat-expansion-panel>

      
        </mat-accordion>

        <button (click)="filtersCollapsed = !filtersCollapsed" type="button" id="filter-sidebar__toggle">
          <img src="assets/icons/toggle-sidebar.png">
        </button>
      </div>
    </aside>
  </div>

    <div class="nodes-container" *ngFor="let r of regulaciones; index as i">
      <h4 class="title">{{r.fuenteAutoridad}}</h4>
      <h4 class="subtitle">{{r.nombreRegulacion}} <a (click)="openInfoDialog(r)">¡</a></h4>

    <!--<div *ngFor="let ds of listDatasources" >-->
      
      <mat-tree #tree [dataSource]="construirDS(r.id)" [treeControl]="listTreeControl[i]" class="items-tree">

        <mat-tree-node *matTreeNodeDef="let node;  when: isReq" matTreeNodeToggle>
            <li class="mat-tree-node">
              <!-- <mat-checkbox color="primary" class="checklist-leaf-node"></mat-checkbox> -->
              {{ node.textoAsociado }}
              <!-- <span class="r-badge" [class.blue-dark]="treeControl.isExpanded(node)" matTreeNodeToggle matTooltipClass="primary-tooltip" [matTooltip]="treeControl.isExpanded(node) ? 'Ocultar requerimientos' : 'Mostrar requerimientos' " matTooltipPosition="above">{{ treeControl.isExpanded(node) ? 'R-' : 'R+' }}</span> -->
              <h4 class="subtitle2"> <a (click)="infoRequerimiento(node.textoAsociado)">C</a></h4>
            </li>
           
           
        </mat-tree-node>
       

        <mat-nested-tree-node *matTreeNodeDef="let node;">
          <li>
            <div class="mat-tree-node">
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name" *ngIf="node.textoAsociado !== '' || tieneHijos(node)">
                <mat-icon class="mat-icon-rtl-mirror" >
                  {{ listTreeControl[i].isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                </mat-icon>
              </button>
              <button mat-icon-button *ngIf="node.textoAsociado == '' && !tieneHijos(node)">
              </button>
               
              {{ node.name }}
              <div innerHTML ="{{ node.texto  | highlight : busqueda }}"></div>
              <span class="r-badge" *ngIf="node.tieneRequerimientos=='S'" matTreeNodeToggle
                matTooltipClass="primary-tooltip"
                [matTooltip]="'Tiene requerimientos'"
                matTooltipPosition="above">{{ node.tieneRequerimientos=='S' ? 'R' : '' }}</span>
            </div>
            <ul [class.items-tree-invisible]="!listTreeControl[i].isExpanded(node) && !evaluarIsExpanded(node, i)">
                <div class="node-text" *ngIf="node.textoAsociado !== ''"
                 innerHTML ="{{ node.textoAsociado  | highlight : busqueda}}"></div>
             
              <ng-container matTreeNodeOutlet></ng-container>
            </ul>
          </li>
        </mat-nested-tree-node>
      </mat-tree>
    <!--</div>-->
    </div>
 
    <div class="action-buttons">
      <button type="button" mat-raised-button color="primary"  (click)="guardarCumplimiento()">
        Guardar cumplimiento
      </button>
    </div>
 
</div>
