<app-header>

</app-header>
<div>  <mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar></div>
<div id="baseline-page">

  <div id="header-filter-baseline">

  <div class="switches">
    <button [class.active]="switchFilter == 'filters'" (click)="switchFilter = 'filters'" mat-button type="button"
      class="switches__button">
      <span class="icon"><img src="assets/icons/filters.png"></span> Lineas Base Recientes
    </button>
    <button [class.active]="switchFilter == 'historical'" (click)="switchFilter = 'historical'" mat-button type="button"
      class="switches__button">
      <span class="icon"><img src="assets/icons/filters.png"></span> Historicos de Lineas Base
    </button>
    <div class="btn-group-fusion">
      <a *ngIf="fusionar && this.cantidadLineasBaseSelec > 1" (click)="fusionarLineaBase()" class="link">Fusionar <a class="numero">{{this.cantidadLineasBaseSelec}}</a> lineas base</a>
      <button class="btn-fusion2" (click)="fusionarLineaBase()" *ngIf="fusionar" mat-button type="button" matTooltipClass="primary-tooltip" matTooltip="Fusionar linea base"
      matTooltipPosition="above"><img src="assets/images/fuse-icon-2.png"></button>
      <button class="btn-fusion"  *ngIf="!fusionar" (click)="enableFuse()" mat-button type="button" matTooltipClass="primary-tooltip" matTooltip="Fusionar linea base"
      matTooltipPosition="above"><img src="assets/images/fuse-icon.png"></button>
      <button class="btn-end btn-plus-2" (click)="new()" matTooltipClass="primary-tooltip" matTooltip="Nueva"
      matTooltipPosition="above" mat-button mat-primary type="button"> + </button>
    </div>
  </div>
</div>
  <mat-card>
    <mat-card-content>
      <div class="result-items" [ngSwitch]="switchOp">
        <div class="result-items__recents" *ngSwitchCase="'recents'">

          <table  class="scroll-tabla" mdbTable mdbTableScroll scrollY="true" mat-table [dataSource]="dataSource">
            <!-- change_reg Column -->
            <ng-container matColumnDef="fuse">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <mat-checkbox [value]="element.fuse" (change)="onCheckChange($event,element)" color="primary"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="change_reg">
              <th mat-header-cell *matHeaderCellDef matTooltip="Cambio Regulatorio"  matTooltipClass="menu-tooltip"> Cambio Reg...</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.cambiosRegulatorios.length > 0" [class.active_yes]="element.cambiosRegulatorios.length > 0">Si</div>
                <div *ngIf="element.cambiosRegulatorios.length == 0" [class.active_no]="element.cambiosRegulatorios.length == 0">No</div>
              </td>
            </ng-container>

            <!-- fused Column -->
            <ng-container matColumnDef="fused">
              <th mat-header-cell *matHeaderCellDef>Fusionada</th>
              <td mat-cell *matCellDef="let element">
                <div *ngIf="element.fusionada == 'S'" [class.active_yes]="element.fusionada">Si</div>
                <div *ngIf="element.fusionada == 'N'" [class.active_no]="!element.fusionada ">No</div>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element">
                <a (click)="detailLineaBase(element)">{{element.nombreLineaBase}}</a>
              </td>
            </ng-container>

            <!-- description Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Descripción</th>
              <td mat-cell *matCellDef="let element"><em>{{element.descripcionLineaBase}}</em></td>
            </ng-container>

            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element"><em>{{element.estadoLineaBaseUsuario}}</em></td>
            </ng-container>
            <!-- date created Column -->
            <ng-container matColumnDef="date_entered">
              <th mat-header-cell *matHeaderCellDef>Fecha creación</th>
              <td mat-cell *matCellDef="let element">
                <img src="assets/icons/calendar-primary.png"
                  class="calendar-icon">{{ element.fechaCreacion  }}
              </td>
            </ng-container>

            <!-- date modified Column -->
            <ng-container matColumnDef="date_modified">
              <th mat-header-cell *matHeaderCellDef>Fecha modificación</th>
              <td mat-cell *matCellDef="let element">
                <img src="assets/icons/calendar-primary.png"
                  class="calendar-icon">{{ element.fechaActualizacion }}
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="action-button" (click)="eliminar(element.idLinea)">
                  <img src="assets/icons/delete.png" alt="Eliminar">
                </button>
                <button mat-button class="action-button" (click)="editarLineaBase(element)">
                  <img src="assets/icons/edit.png"  alt="Editar">
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
