

#baseline-page {
  
  ::ng-deep {
    
    .mat-grid-tile.form-container__item .mat-figure {
      padding-right: 16px;
      justify-content: flex-start;
      align-items: flex-end;
    }

  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
  ::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color:var(--color-primary-blue) !important;
  }
  ::ng-deep  .mat-checkbox-checkmark-path {
    stroke:white !important;
  }

  ::-webkit-scrollbar-thumb {
    background: gray;
  }

  .scroll-tabla{
    overflow-y: scroll;
  }
  ::ng-deep .mat-tooltip {
    /* your own custom styles here */ 
    /* e.g. */
    color: yellow;
}
  .menu-tooltip {
    background:  var(--color-primary-blue);
 
  }
  #header-filter-baseline {
    .btn-end {
      background-color: var(--color-primary-green);
      color: white;
      border-radius: 5px;
      font-size: 2rem;
      line-height: 0;
      padding: 0 10px;
      min-width: unset;
    }
    
      .link {
        background-color: var(--color-secondary-blue);
        color:white;
        font-weight: bold;
        border-radius: 5px;
        padding: 4px 15px;
        font-size: 0.8rem;
        text-decoration: none;
        margin-left: 16px;
        height: 30px;
      }
      .numero {
      
        color:var(--color-primary-green);
    
      }
    .switches {
      display: flex;
      flex-direction: row;
      .btn-group-fusion {
        button {
          line-height: 1;
        }
  
        .btn-fusion {
          > * {
            vertical-align: baseline;
          }
  
          border: 1px solid var(--color-primary-green);
          padding-left: 5px;
          padding-right: 5px;
          min-width: auto;
          margin-right: 5px;
          font-size: 1.5rem;
          padding-bottom: 5px;
        }
        .btn-fusion2 {
     
        margin-right: -10px;
        margin-left: -17px;
         
        }
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  
    padding: 16px;
    box-shadow: 0 5px 5px 0 rgba(black, 0.05);
    background-color: white;
  }
  
  .mat-card {
    .result-items {
      .mat-table {
        a {
          color: var(--color-link-blue);
        }

        .active_no {
          border-radius: 11.8px;
          color: var(--color-secondary-blue);
          background-color: var(--color-grey);
          width: 30px;
          text-align: center;
        }

        .active_yes {
          width: 30px;
          text-align: center;
          border-radius: 11.8px;
          background-color: var(--color-primary-blue);
          color: white;
        }

        .mat-header-row {
          th.mat-header-cell {
            font-weight: bold;
            color: var(--color-secondary-blue);
            font-size: 15px;
            border-bottom: 0;
          }
        }
        .mat-cell {
          .calendar-icon {
            display: inline-block;
            margin-right: 5px;
          }

          .action-button {
            background: var(--color-grey);
            padding: 0 10px;
            margin: 0px 5px;
            min-width: 38px;
          }

          color: var(--color-grey-600);
          font-family: "Open Sans", sans-serif;
          vertical-align: middle;
        }

        width: 100%;
      }

      height: calc(130vh - 400px);
      overflow: auto;
      margin-top: 15px;
      padding: 0px 50px;
    }

    padding: 16px 32px;
  }

  padding: 0px 35px;
}


.mat-progress-bar {
display: block;
height: 2px;
overflow: hidden;
position: relative;
transition: opacity 250ms linear;
width: 100%;
}