<h1 class="dialog-title" mat-dialog-title>
  Notificaciones

  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>
<div class="dialog-body" mat-dialog-content>


    <div class="custom-form-group">
      <mat-slide-toggle class="example-margin" (change)="onCheckChange($event)" *ngIf="this.requerimientoCliente.notificacionesActivo == 'N'"[checked]="false"></mat-slide-toggle>
      <mat-slide-toggle class="example-margin" (change)="onCheckChange($event)" *ngIf="this.requerimientoCliente.notificacionesActivo == 'S'" [checked]="true"></mat-slide-toggle>
    </div>
  
    <div class="custom-form-group date">
      <label for="start-date">Fecha inicio</label>
      <input matInput class="custom-form-control"  [(ngModel)]="this.requerimientoCliente.fechaInicioNotificaciones" [matDatepicker]="pickerSD" placeholder="{{this.requerimientoCliente.fechaInicioNotificaciones}}">
      <mat-datepicker-toggle matSuffix [for]="pickerSD"></mat-datepicker-toggle>
      <mat-datepicker #pickerSD></mat-datepicker>
    </div>
  
    <div class="custom-form-group">
      <label for="periocity">Periocidad</label>
      <mat-select id="periocity" [(value)]="this.requerimientoCliente.periodicidadNotificaciones" class="custom-form-control">
        <mat-option value="UNA_VEZ">Una vez</mat-option>
        <mat-option value="DIARIA">Diaria</mat-option>
        <mat-option value="SEMANAL">Semanal</mat-option>
        <mat-option value="MENSUAL">Mensual</mat-option>
        <mat-option value="BIMENSUAL">Bimensual</mat-option>
        <mat-option value="TRIMESTRAL">Trimestral</mat-option>
        <mat-option value="CUATRIMESTRAL">Cuatrimestral</mat-option>
        <mat-option value="SEMESTRAL">Semestral</mat-option>
        <mat-option value="ANUAL">Anuel</mat-option>
       

      </mat-select>
    </div>
  
  
    <div class="custom-form-group">
      <label class="text-right" for="emails">Direcciones de correo</label>
      <textarea type="text" id="emails" [(ngModel)]="this.requerimientoCliente.correosElectronicosNotificaciones" [(value)]="this.requerimientoCliente.correosElectronicosNotificaciones" class="custom-form-control" placeholder="Lorem ipsum" rows="4"></textarea>
    </div>
 
</div>
<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__cancel" mat-button (click)="close()">Cancelar</button>
  <button class="dialog-buttons__accept" mat-button (click)="guardarNotificacion()" cdkFocusInitial>Guardar</button>
</div>
