
.custom-form-group {
  text-align: left;
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-bar{
  background-color:rgba(63,81,181,.54)
}
.mat-slide-toggle.mat-primary.mat-checked .mat-slide-toggle-thumb {
  background-color: #5756f4;
}
.dialog-body{
  overflow: scroll;
}