<app-header></app-header>

<div id="baseline-regulation-page">
  <div class="action-bar">
    <div class="goback-container">
      <button routerLink="/baseline/list" mat-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <h4 class="title">Fuente de Autoridad</h4>
      <h4 class="subtitle">> Nombre de la Regulación</h4>
    </div>
  </div>

  <div class="main-content">
    <mat-card>
      <mat-card-content>
        <div class="result-pagination custom-paginator">
          <mat-paginator [length]="100" [pageSize]="1" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>

        <app-result-item-search [item]="mockItem" [withLink]="false"></app-result-item-search>

        <div class="action-buttons">
          <button mat-raised-button color="primary">Aceptar</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
