#baseline-regulation-page {
  .action-bar {
    .goback-container,
    .actions-container {
      display: flex;
      align-items: center;
    }

    .goback-container {
      button {
        .mat-icon {
          font-size: 0.8rem;
          color: var(--color-primary-blue);
          border: 1px solid var(--color-primary-blue);
          border-radius: 3px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          letter-spacing: -5px;
        }

        color: var(--color-primary-blue);
        padding-left: 0;
      }

      h4 {
        &.title {
          font-weight: bold;
        }

        &.subtitle {
          font-weight: normal;
        }

        font-size: 1rem;
        display: inline-block;
        margin: 0;
        line-height: 1;
        color: var(--color-secondary-blue);
        margin-right: 5px;
      }
    }

    padding: 10px 16px;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    .action-buttons {
      .mat-raised-button {
        min-width: 350px;
      }

      text-align: center;
      width: 100%;
      margin-top: 30px;
    }

    padding: 16px;
  }
}
