<app-header></app-header>
<div>  <mat-progress-bar mode="indeterminate" *ngIf="carga"></mat-progress-bar></div>
<div id="regulations-mod-page">

  <div class="main-content">
    <div id="results-container">
      <mat-card>
        <mat-card-header>
          <div class="switches">
            <button routerLink="/regulations/list" mat-button
              type="button" class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Modificación regulaciones
            </button>
            <button [class.active]="switchHistory == 'news'" (click)="switchHistory = 'news'" mat-button type="button"
              class="switches__button">
              <span class="icon"><img src="assets/icons/filters.png"></span> Nuevas regulaciones
            </button>
          </div>
        </mat-card-header>

        <mat-card-content>
          <div class="result-items" [ngSwitch]="switchHistory">
            <div class="result-items__recents" *ngSwitchCase="'news'">

              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Nombre regulación</th>
                  <td mat-cell *matCellDef="let element">
                    <a routerLink="/regulations/detail">{{ element.nombreRegulacion }}</a>
                  </td>
                </ng-container>

                <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>Descripción</th>
                  <td mat-cell *matCellDef="let element"><em>{{ element.abstractReg }}</em></td>
                </ng-container>

                <ng-container matColumnDef="date_pub">
                  <th mat-header-cell *matHeaderCellDef>Fecha publicación</th>
                  <td mat-cell *matCellDef="let element">
                    <img src="assets/icons/calendar-primary.png"
                      class="calendar-icon">{{ element.fechaVigencia  }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Acciones</th>
                  <td mat-cell *matCellDef="let element">
                    <button (click)="asociarLineaBase(element)" mat-raised-button color="primary">Asociar linea base</button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

            </div>
           
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
