<div id="header-filter-baseline">
  <div class="switches">
    <button [class.active]="switchFilter == 'filters'" (click)="switchFilter = 'filters'" mat-button type="button"
      class="switches__button">
      <span class="icon"><img src="assets/icons/filters.png"></span> Lineas Base Recientes filtros
    </button>
    <button [class.active]="switchFilter == 'historical'" (click)="switchFilter = 'historical'" mat-button type="button"
      class="switches__button">
      <span class="icon"><img src="assets/icons/filters.png"></span> Historicos de Lineas Base
    </button>
    <div class="btn-group-fusion">
      <a *ngIf="fusionar"  (click)="verDetalle(item)" class="link">Fusionar {{cantidadLineasBase}} lineas base</a>
      <button class="btn-fusion" (click)="clickFuse()" mat-button type="button" matTooltipClass="primary-tooltip" matTooltip="Fusionar linea base"
      matTooltipPosition="above"><img src="assets/images/fuse-icon.png"></button>
      <button class="btn-end btn-plus-2" (click)="clickNew()" matTooltipClass="primary-tooltip" matTooltip="Nueva"
      matTooltipPosition="above" mat-button mat-primary type="button"> + </button>
    </div>
  </div>
</div>
