::ng-deep {
  .mat-grid-tile.form-container__item .mat-figure {
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

#header-filter-baseline {
  .btn-end {
    background-color: var(--color-primary-green);
    color: white;
    border-radius: 5px;
    font-size: 2rem;
    line-height: 0;
    padding: 0 10px;
    min-width: unset;
  }
  
    .link {
      background-color: var(--color-secondary-blue);
      color:white;
      font-weight: bold;
      border-radius: 5px;
      padding: 4px 15px;
      font-size: 0.8rem;
      text-decoration: none;
      margin-left: 16px;
       height: 30px;
    }
  .switches {
    display: flex;
    flex-direction: row;
    .btn-group-fusion {
      button {
        line-height: 1;
      }

      .btn-fusion {
        > * {
          vertical-align: baseline;
        }

        border: 1px solid var(--color-primary-green);
        padding-left: 5px;
        padding-right: 5px;
        min-width: auto;
        margin-right: 5px;
        font-size: 1.5rem;
        padding-bottom: 5px;
      }

      margin-left: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

  padding: 16px;
  box-shadow: 0 5px 5px 0 rgba(black, 0.05);
  background-color: white;
}
