<app-header></app-header>

<div id="search-page">
  <app-header-filter-search></app-header-filter-search>

  <div class="main-content">
   
    <div id="results-container">
      <div class="result-actions">
        <div class="result-actions__qty">
          <strong>{{cantidadRegulaciones}}</strong> Regulaciones encontradas
        </div>
        
      </div>

      <div class="result-items">
        <app-result-item-consulta *ngFor="let i of arregloMockItem" (checkChange)="onCheckChange($event)" [item]="i">
        </app-result-item-consulta>
      </div>
      <div class="result-pagination custom-paginator">
        <mat-paginator [length]="cantidadRegulaciones" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
