<h1 class="dialog-title" mat-dialog-title>
  Card
  <button (click)="close()" mat-button class="btn-close">x</button>
</h1>

<div class="dialog-body-padding" mat-dialog-content>
  <app-result-item-consulta [item]="mockItem" [withLink]="false"></app-result-item-consulta>
</div>

<div class="dialog-buttons" mat-dialog-actions>
  <button class="dialog-buttons__accept" mat-button (click)="close('accept')" cdkFocusInitial>Aceptar</button>
</div>
