/* You can add global styles to this file, and also import other style files */

@import "theme/fonts";
@import "theme/variables";
@import "theme/mixins";

@import "~@angular/material/theming";
@include mat-core();

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Open Sans, sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include angular-material-typography($custom-typography);

$mat-myapp-primary: mat-palette($mat-blue-grey);
$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

* {
  box-sizing: border-box;
}
html,
body {
  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(144, 144, 144, 0.5);
    border-radius: 10px;
  }

  min-height: 100%;
}
body {
  * {
    /// ::-webkit-scrollbar

    /* width */
    ::-webkit-scrollbar {
      width: 7px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: none;
      border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: white;
    }
  }

  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-grey);
}

@import "theme/globals";
