<div id="result-item-search">
  <h2 class="title">{{ item.title }}</h2>

  <div class="content">
    <div class="content__info">
      <mat-checkbox (change)="onCheckChange($event)" *ngIf="this.busquedaService.resultadoBusqueda.filtrosDetalleDTO.idRegulacionesSel.indexOf(item.id) > -1  && item.habilitar == 'Optional[S]' " [checked]="true" class="subtitle">{{ item.check_title }}<br> {{item.title2}}</mat-checkbox>
      <mat-checkbox (change)="onCheckChange($event)" *ngIf="this.busquedaService.resultadoBusqueda.filtrosDetalleDTO.idRegulacionesSel.indexOf(item.id) == -1  && item.habilitar == 'Optional[S]'" [checked]="false" class="subtitle">{{ item.check_title }}<br>  {{item.title2}}</mat-checkbox>
       <p *ngIf="item.habilitar == 'Optional[N]'" class="subtitle">{{ item.check_title }}<br> {{item.title2}}</p>

      <p class="data">
        <ng-container *ngFor="let inf of item.info">
          <strong>{{ inf.name }}: </strong> <span>{{ inf.value }}</span><br>
        </ng-container>
        <strong>Estado </strong> <span class="badge primary">{{ item.validity.state }}</span> <strong>Fecha de vigencia
        </strong> <span class="badge">{{ item.validity.date.month }}</span> <span
          class="badge">{{ item.validity.date.day }}</span> <span class="badge">{{ item.validity.date.year }}</span>

      
      </p>
      <p class="data">
        <strong>url:</strong>
        <a href="{{item.url}}"  target="_blank">{{ item.url }}</a>
      </p>
      <div class="divider">
        <span class="line"></span>
        <a *ngIf="withLink && item.habilitar == 'Optional[S]'" target="_blank" (click)="verDetalle(item)" class="link">Ver Detalle</a>
        <a *ngIf="item.habilitar == 'Optional[N]' && withLink" target="_blank" (click)="ventanaEmergente()" class="link2">Ver Detalle</a>
      </div>

      <p class="resume">
        <strong>Abstract</strong>
        {{ item.resume }}
      </p>
    </div>
    <div class="content__properties">
      <div class="items">
        <ul>
          <li>
            <img src="assets/icons/sector.png">
            <p>
              <strong>SECTOR</strong>
              <span *ngFor="let sec of item.sectors">{{ sec }}</span>
            </p>
          </li>
          <li>
            <img src="assets/icons/jurisdiction.png">
            <p>
              <strong>JURISDICCIÓN</strong>
              <span *ngFor="let jur of item.jurisdictions">{{ jur }}</span>
            </p>
          </li>
          <li>
            <img src="assets/icons/impact-domain.png">
            <p>
              <strong>DOMINIO DE IMPACTO</strong>
              <span *ngFor="let imp of item.impacts">{{ imp }}</span>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
