::ng-deep {
  .content__info {
    .mat-checkbox {
      .mat-checkbox-frame {
        background-color: var(--color-primary-blue);
        border-color: transparent;
      }

      &.mat-checkbox-checked {
        .mat-checkbox-background {
          .mat-checkbox-checkmark {
            fill: white;
          }

          .mat-checkbox-checkmark-path {
            stroke: white !important;
          }

          background-color: var(--color-primary-blue);
        }
      }

      color: var(--color-secondary-blue);
      font-size: 1.2rem;
    }
  }
}

#result-item-search {
  .title {
    color: var(--color-secondary-blue);
    font-weight: 600;
  }
  .subtitle{
    color: var(--color-secondary-blue);
    font-weight: 600;
  }
  .content {
    &__info {
      .data {
        .badge {
          &.primary {
            background: var(--color-primary-blue);
          }

          background: var(--color-grey-600);
          color: white;
          padding: 1px 5px;
          margin-right: 6px;
          display: inline-block;
          border-radius: 24px;
          font-size: 0.6rem;
          font-weight: 600;
        }

        color: var(--color-grey-600);
        font-size: 0.8rem;
        margin-left: 24px;
      }

      .divider {
        .link {
          background-color: var(--color-secondary-blue);
          color: var(--color-primary-green);
          font-weight: bold;
          border-radius: 5px;
          padding: 2px 15px;
          font-size: 0.8rem;
          text-decoration: none;
          margin-left: 16px;
        }
        .link2 {
          background-color:gray;
          color: white;
          font-weight: bold;
          border-radius: 5px;
          padding: 2px 15px;
          font-size: 0.8rem;
          text-decoration: none;
          margin-left: 16px;
        }
        .line {
          flex: 1;
          border-bottom: 1px var(--color-grey-500) solid;
          box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
        }

        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 24px;
      }

      .resume {
        strong {
          display: block;
          margin-bottom: 10px;
        }

        font-size: 0.8rem;
        padding-left: 24px;
        color: var(--color-grey-600);
      }

      flex: 1;
      padding: 16px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
    }

    &__properties {
      .items {
        ul {
          li {
            img {
              width: 40px;
              height: 40px;
              display: inline-block;
              padding: 7px;
              border-radius: 5px;
              background-color: var(--color-secondary-blue);
              margin-right: 7px;
            }

            p {
              strong,
              span {
                display: block;
                width: 100%;
              }

              strong {
                font-size: .7rem;
              }

              flex: 1;
              color: white;
              font-size: .8rem;
              margin: 0;
            }

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: 10px;
            margin-top: 10px;
          }

          padding: 0;
          list-style: none;
          width: 100%;
          margin-left: -16px;
        }

        background: var(--color-primary-blue);
        height: 100%;
        width: 100%;
        border-radius: 10px;
        display: flex;
        align-items: center;
      }

      padding-left: 32px;
      position: relative;
      width: 35%;
      display: flex;
    }

    display: flex;
  }
}
