@import "../../../theme/mixins";



#filter-sidebar .container mat-expansion-panel {
  &.mat-expansion-panel-spacing {
    margin: 0;
  }

  .mat-expansion-indicator {
    &:after {
      color: var(--color-primary-blue);
      transform: rotate(45deg) translate(-50%, -50%);
      vertical-align: middle;
      position: absolute;
      top: 50%;
      left: 30%;
    }

    position: relative;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .mat-expansion-panel-header {
    .mat-expansion-panel-header-title {
      .icon {
        > img {
          width: auto;
          height: 23px;
        }

        height: 32px;
        width: 32px;
        border-radius: 5px;
        display: flex;
        margin-right: 16px;
        background: transparent;
        justify-content: center;
        align-items: center;
      }

      color: white;
      font-weight: bold;
      align-items: center;
    }

    padding: 16px;
  }

  .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    .mat-checkbox-mixedmark {
      background-color: var(--color-secondary-blue);
    }
    .mat-checkbox-checkmark {
      fill: var(--color-secondary-blue);
    }

    .mat-checkbox-checkmark-path {
      stroke: var(--color-secondary-blue) !important;
    }

    background: white;
  }

  .mat-checkbox-frame {
    border-color: rgba(white, 0.5);
  }

  .mat-expansion-panel-content {
    background-color: var(--color-secondary-blue);
    padding: 16px 16px 0 0;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    
    border-color: black;
    
  }
  
  .example-radio-button {
    margin: 5px;
    border-color:white;
  }

  .mat-radio-outer-circle {
    border-color: white;
  }

  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    background-color: white;
  }
 
    .mat-expansion-panel-header {
      .mat-expansion-panel-header-title {
        .icon {
          &.icon-tree {
            background-image: url("/assets/icons/filters/icon-semaforo.png");
            background-size: cover;
          }
          &.icon-keyword {
            background-image: url("/assets/icons/filters/icon-llave.png");
            background-size: cover;
          }
          width: 35px;
          height: 35px;
          border-radius: 5px;
          display: flex;
          margin-right: 16px;
          background: transparent;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &.mat-expanded {
      .icon {
        &.icon-tree {
          background-image: url("/assets/icons/filters/icon-semaforo-alt.png");
          background-size: cover;
        }
        &.icon-keyword {
          background-image: url("/assets/icons/filters/icon-llave-alt.png");
          background-size: cover;
        }
      }
      .mat-expansion-indicator {
        background-color: var(--color-primary-green);
      }
    }

  background: transparent;
  box-shadow: none;
  margin-bottom: 0;
}

::ng-deep {
  
  .mat-grid-tile.form-container__item .mat-figure {
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

#header-filter-fulfillment {
  
  .main-content {
    &__filters,
    &__search {
      .form-container {
        &__item {
          .clear-filters {
            img {
              width: 100%;
              height: auto;
            }

            background: var(--color-secondary-blue);
            border: none;
            display: inline-block;
            width: 27px;
            height: 27px;
            margin-bottom: 10px;
            border-radius: 5px;
            padding: 5px;
            min-width: unset;
            line-height: 0;
          }
        }
      }
    }

    margin-top: 16px;
  }

  padding: 16px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
}
#fulfillment-page {


  .action-buttons {
    .mat-button,
    .mat-raised-button {
      margin: 0 15px;
    }

    text-align: right;
    width: 100%;
    margin-top: 15px;
  }
  .action-bar {
    .goback-container,
    .actions-container {
      display: flex;
      align-items: center;
    }

    .goback-container {
      button {
        .mat-icon {
          font-size: 0.8rem;
          color: var(--color-primary-blue);
          border: 1px solid var(--color-primary-blue);
          border-radius: 3px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          letter-spacing: -5px;
        }

        color: var(--color-primary-blue);
        padding-left: 0;
      }

      h4 {
        &.title {
          font-weight: bold;
        }

        &.subtitle {
          font-weight: normal;
        }

        font-size: 1rem;
        display: inline-block;
        margin: 0;
        line-height: 1;
        color: var(--color-secondary-blue);
        margin-right: 5px;
      }
    }

    .actions-container {
      button {
        .mat-icon {
          color: white;
          margin-left: 5px;
        }

        &.btn-toggler {
          mat-icon {
            color: var(--color-primary-green);
            margin: 0;
          }

          background: var(--color-secondary-blue);
          color:var(--color-primary-blue);
          padding: 1px;
          min-width: 35px;
          border: 1px solid var(--color-secondary-blue);
        }

        &.btn-tree {
          mat-icon {
            color: var(--color-secondary-blue);
            margin: 0;
          }

          background: white;
          color: var(--color-primary-blue);
          padding: 1px;
          min-width: 35px;
          border: 1px solid var(--color-secondary-blue);
        }

        color: white;
        background-color: var(--color-primary-blue);
        margin-left: 5px;
      }
    }

    padding: 10px 16px;
    background-color: var(--color-grey);
    display: flex;
    justify-content: space-between;
  }

  .main-content {
    #filter-sidebar {
      .container {
        background-color: var(--color-primary-blue);
        // padding: 16px;
        border-radius: 10px;
        width: 318px;
        padding-bottom: 30px;
        position: relative;
      }

      .filters {
        li {
          margin-bottom: 7px;
          color: white;
          font-weight: 600;
          font-size: 14px;
        }

        list-style: none;
        margin: 0;
      }

      &__toggle {
        img {
          width: 100%;
          height: auto;
        }

        position: absolute;
        bottom: 0px;
        left: 50%;
        border-radius: 50%;
        background: var(--color-primary-blue);
        border: 3px var(--color-primary-blue) solid;
        width: 45px;
        height: 45px;
        padding: 0;
        transform: translate(-50%, 50%) rotate(0deg);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        outline: none;
      }

      &.collapsed {
        #filter-sidebar__toggle {
          transform: translate(-50%, 50%) rotate(180deg);
          left: 35px;
        }

        width: 80px;
      }

      width: 350px;
      transition: width 0.3s ease-in-out;
      padding: 16px;
      position: relative;
      margin-bottom: 50px;
      padding-bottom: 50px;
      overflow-x: hidden;
    }

    
    position: absolute;
    display: inline-flex;
    flex-direction: row;
  }

  .grid-headers {

    &__buttons {
      
      .btn-filter,
      .btn-toggler {
        min-width: 42px;
        padding: 0;
        margin-left: 10px;
        background: var(--color-secondary-blue);
        color:var(--color-primary-green);
      }

    

      text-align: right;
      width: 160px;
    }

    &__titles {
      strong {
        width: 11%;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--color-secondary-blue);
        overflow: hidden;
        margin-left: 25px;
        margin-right: 15px;;
      }

      display: flex;
      flex: 1;
      margin-left: 20px;
      padding: 0 16px
    }

    width: 100%;
    padding: 16px 5px;
    display: flex;
    align-items: center;
  }
  .results-container {
    .title,
    .subtitle {
      margin: 0;
      color: var(--color-grey-600);
    }

    .title {
      color: var(--color-secondary-blue);
      font-size: 1.5rem;
    }

    .subtitle {
      a {
        display: inline-flex;
        margin-left: 15px;
        background-color: var(--color-secondary-blue);
        color: var(--color-primary-green);
        border-radius: 50%;
        cursor: pointer;
        line-height: 0;
        width: 20px;
        height: 20px;
        margin: 0;
        justify-content: center;
        align-items: center;
        padding-bottom: 4px;
      }

      margin-bottom: 15px;
      font-size: 1rem;
    }

    .results-container {
      &__items {
        .item {
          .toggle-colapse {
            min-width: auto;
            padding: 0 5px;
            color: white;
            background: var(--color-secondary-blue);
            margin-right: 17px;
          }

          .level {
            color: var(--color-secondary-blue);
            font-weight: bold;
            margin-left: 16px;
            width: 80%;
           
          }
          .r-badge {
            background: var(--color-primary-green);
            color: var(--color-secondary-blue);
            display: inline-flex;
            right: 5px;
            top: 5px;
            width: 30px;
            height: 30px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-weight: bold;
            margin-left: 300px;
          }
          .name {
            color: var(--color-secondary-blue);
            width: 230px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          display: flex;
          flex-direction: row;
          align-items: center;
          box-shadow: 0 5px 5px 0 rgba(black, 0.1);
          padding: 2px;
          background: white;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        .item-data {
        
          .content {
            &__item {
              > div {
                &.text {
                  font-style: italic;
                }
                button {
                  img {
                    height: 55%;
                    width: auto;
                  }
            
                  &.btn-notifications {
                    background-color: var(--color-primary-blue);
                    line-height: 0;
                    margin-left: 60px;
                  }
                  &.btn-notifications2 {
                    background-color: var(--color-grey-600);
                    line-height: 0;
                    margin-left: 60px;
                  }
                  &.btn-toggle-menu {
                    img {
                      height: 100%;
                    }
            
                    background-color: var(--color-secondary-blue);
                    line-height: 0;
                  }
            
                  background: transparent;
                  border: none;
                  padding: 0;
                  min-width: auto;
                  width: 30px;
                  height: 30px;
                }
                &.color-select-container {
                  .color-select {
                    &.BAJA {
                     
                      background: var(--color-secondary-green);
                    }

                    &.MEDIA {
                      background: yellow;
                    }

                    &.ALTA {
                      background: red;
                    }

                    width: 60%;
                    display: inline-block;
                    height: 20px;
                    background: white;
                    border-radius: 5px 0 0 5px;
                  }

                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }

                .custom-form-group {
                  .custom-form-control {
                    @include placeholder {
                      font-weight: normal;
                    }

                    &:focus {
                      border-color: var(--color-secondary-blue);
                      color: var(--color-secondary-blue);
                      background: white;
                    }

                    font-weight: normal;
                    font-size: 16px;
                  }

                  margin-bottom: 0;
                }

                color: var(--color-grey-600);
                width: 14%;
                white-space: nowrap;
                overflow-x: hidden;
                text-overflow: ellipsis;
                padding: 9px;
              }

              &:last-child {
                border-bottom: none;
              }

              display: flex;
              flex-direction: row;
              align-items: center;
              border-bottom: 1px var(--color-grey-600) solid;
              padding: 7px 0;
            }

            background-color: rgba(white, 0.6);
            width: 90%;
            padding: 15px;
          }

          display: flex;
          margin-top: -15px;
          margin-bottom: 15px;
          justify-content: flex-end;
        }

        width: 100%;
      }
  
      }
    
 
    flex: 1;
    padding: 16px;
    
  }
 
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color:var(--color-secondary-blue) !important;
}
::ng-deep  .mat-checkbox-checkmark-path {
  stroke: var(--color-primary-green) !important;
}