<app-header></app-header>
<div id="header-filter-fulfillment"  *ngIf="collapsed">
  <div class="main-content">
    <div class="main-content__filters">
      <mat-grid-list class="form-container" cols="6" rowHeight="70px">
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Requerimiento</label>
            <input type="text" id="requerimiento" matInput class="custom-form-control" [(ngModel)]="requerimientoF" placeholder="Requerimiento">
       
          </div>         
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Criticidad</label>
            <mat-select class="custom-form-control" [(value)]="criticidad" multiple>
              <mat-option value="ALTA">Alta</mat-option>
              <mat-option value="MEDIA">Media</mat-option>
              <mat-option value="BAJA">Baja</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction">Nivel de cumplimiento</label>
            <mat-select class="custom-form-control"  [(value)]="nivelCumplimiento" multiple>
              <mat-option value="SI">Cumple</mat-option>
              <mat-option value="NO">No cumple</mat-option>
              <mat-option value="NO_ESPECIFICADO">No especificado</mat-option>
              <mat-option value="NO_APLICA">No Aplica</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Controles</label>
            <input type="text" id="controles" matInput class="custom-form-control" [(ngModel)]="controles" placeholder="Controles">
       
          </div>          
        </mat-grid-tile>

        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Responsable</label>
            <mat-select class="custom-form-control" [(value)]="responsableSelec"  multiple>
              <mat-option  *ngFor="let responsable of responsables" value="{{responsable}}">{{responsable}}</mat-option>
  
            </mat-select>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> email responsable</label>
            <mat-select class="custom-form-control" [(value)]="emailSelec"  multiple>
              <mat-option  *ngFor="let email of emails" value="{{email}}">{{email}}</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Plan de acción</label>
            <input type="text" id="plan" matInput class="custom-form-control" [(ngModel)]="plan" placeholder="Plan de acción">
       
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group date">
            
 
            <label for="jurisdiction"> Fecha de PA</label>
            <input matInput class="custom-form-control" [(ngModel)]="fechaPlanAccion" [matDatepicker]="picker2" placeholder="Fecha de PA">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 ></mat-datepicker>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <div class="custom-form-group">
            <label for="jurisdiction"> Notificación</label>
            <mat-select class="custom-form-control"   [(value)]="notificacion" multiple>
              <mat-option value="S">Tiene</mat-option>
              <mat-option value="N">No tiene</mat-option>
            </mat-select>
          </div>          
        </mat-grid-tile>
        <mat-grid-tile class="form-container__item">
          <button mat-button (click)="filtrar()" class="clear-filters">
            <img src="assets/icons/clear-filters.png">
          </button>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
  </div>
</div>
<div id="fulfillment-page">
  <div class="action-bar">
    <div class="goback-container">
      <button mat-button>
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      

    </div>
    <div class="actions-container">
      <button mat-button [matMenuTriggerFor]="menu">Exportar como<mat-icon>arrow_drop_down_circle
        </mat-icon></button>
      <mat-menu class="download-mat-menu" #menu="matMenu">
        <button  (click)="exportarExcel()" mat-menu-item>Exportar como .xls</button>
        <button (click)="exportarPdf()" mat-menu-item>Exportar como .pdf</button>
      </mat-menu>


      <button (click)="arboles()" class="btn-tree" mat-button>
        <mat-icon>share</mat-icon>
      </button>

      <button  (click)="grilla()" class="btn-toggler" mat-button>
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
    </div>
  </div>


 
  <div class="grid-headers">
    <div class="grid-headers__buttons">
      <button  class="btn-filter" mat-button (click)="collapsed = !collapsed">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button class="btn-toggler" mat-button [matMenuTriggerFor]="menuFilter">
        <mat-icon>format_list_bulleted</mat-icon>
      </button>
      <mat-menu class="download-mat-menu" #menuFilter="matMenu">
        <mat-checkbox (change)="changeHeaders($event,ht)"  checked="true" *ngFor="let ht of headerTitles"
          class="mat-menu-item">{{ ht }}</mat-checkbox>
      </mat-menu>


     
    </div>
    <div class="grid-headers__titles">
      <strong *ngIf="requerimientoV" >
        Requerimiento
      </strong>
      <strong *ngIf="criticidadV"> 
        Criticidad
      </strong>
      <strong *ngIf="nivelV">
        Nivel de cumplimiento
      </strong>
      <strong *ngIf="controlesV">
        Controles
      </strong>
      <strong *ngIf="responsableV">  
        Responsable
      </strong>
      <strong *ngIf="emailV">
        email responsable
      </strong>
      <strong *ngIf="planAccionV">
        Plan de acción
      </strong>
      <strong *ngIf="fechaPlanV">
        Fecha de PA
      </strong>
      <strong *ngIf="notificacionV">
        Notificación
      </strong>
    </div>
  </div>

  
    <div class="results-container" *ngFor="let r of regulaciones; index as i">
      <h4 class="title">{{r.fuenteAutoridad}}</h4>
      <h4 class="subtitle">{{r.nombreRegulacion}} <a (click)="openInfoDialog(r)">¡</a></h4>
    
      
      <div class="results-container__items">
        <div *ngFor="let i of r.niveles">
          <div class="item">
            <button (click)="toggleItem(i)" *ngIf="i.idTextoPadre != null" class="toggle-colapse" mat-button>
              <mat-icon>arrow_drop_down_circle</mat-icon>
            </button>

            <strong class="level" (click)="toggleItem(i)">{{i.texto}}</strong>

           
            <span class="r-badge" *ngIf="i.requerimientos.length > 0" 
              [matTooltip]="'Tiene requerimientos'"
              matTooltipPosition="above">{{ 'R' }}</span>
          </div>

          <div class="item-data"  *ngFor="let j of i.requerimientos">
           
            <div *ngIf="openedItems.indexOf(i) >= 0 && traerRequerimientoCliente(j) != null" class="content" >
              <div  class="content__item">
                
                <div  *ngIf="requerimientoV" class="text"  matTooltip="{{j.requerimiento}}"> {{traerRequerimientoCliente(j)}} </div>
                <div  *ngIf="criticidadV" class="color-select-container">
                  <div class="color-select {{traerColorRequerimiento(j)}}" ></div>

                  <mat-select *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" class="custom-form-control"   (selectionChange)="opcionSeleccionadaCriti($event.value,j.idRequerimiento)" >
                    <mat-option value="ALTA">Alta</mat-option>
                    <mat-option value="MEDIA">Media</mat-option>
                    <mat-option value="BAJA">Baja</mat-option>
                  </mat-select>
                </div>
                <div  *ngIf="nivelV" class="custom-form-select" >
                  <mat-select   [value]="traerCumplimientoRequerimiento(j)" (selectionChange)="opcionSeleccionadaCumpli($event.value,j.idRequerimiento)">
                    <mat-option value="SI">Cumple</mat-option>
                    <mat-option value="NO">No cumple</mat-option>
                    <mat-option value="NO_ESPECIFICADO">No especificado</mat-option>
                    <mat-option value="NO_APLICA">No Aplica</mat-option>
                  </mat-select>
                </div>
                <div *ngIf="controlesV">
                  <div  class="custom-form-group" >
                    <input type="text" id="controles" *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" [ngModel]="controles" (ngModelChange)="controles=requerimientoControles(j.idRequerimiento,$event)" class="custom-form-control" placeholder="{{traerControlesRequerimiento(j)}}">
                  </div>
                </div>
                <div  *ngIf="responsableV">
                  <div class="custom-form-group">
                    <input type="text" id="responsable"  *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" [value]="traerResponsableRequerimiento(j)" [ngModel]="responsable"  (ngModelChange)="responsable=requerimientoResponsable(j.idRequerimiento,$event)" class="custom-form-control" placeholder="{{traerResponsableRequerimiento(j)}}">
                  </div>
                </div>
                <div *ngIf="emailV" >
                  <div  class="custom-form-group">
                    <input type="text" id="email"  *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" [ngModel]="email" (ngModelChange)="email=requerimientoEmail(j.idRequerimiento,$event)" class="custom-form-control"  placeholder="{{traerEmailRequerimiento(j)}}">
                  </div>
                </div>
                <div  *ngIf="planAccionV">
                  <div class="custom-form-group">
                    <input type="text" id="plan"  *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" [ngModel]="planAccion"  (ngModelChange)="planAccion=requerimientoPlan(j.idRequerimiento,$event)" class="custom-form-control" placeholder="{{traerPlanRequerimiento(j)}}">
                  </div>

                </div>
                <div *ngIf="fechaPlanV">
                  <div  class="custom-form-group date">
            
                      <input matInput class="custom-form-control"  *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" [ngModel]="planAccion"  (ngModelChange)="planAccion=requerimientoFechaPlan(j.idRequerimiento,$event)" [matDatepicker]="picker" placeholder="{{traerFechaPlanRequerimiento(j)}}">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker ></mat-datepicker>
               
                  </div>
                  
                </div>
                <div *ngIf="notificacionV">
                  <div  *ngIf="traerCumplimientoRequerimiento(j) != 'NO_APLICA'" class="custom-form-group">
                    
                    <button *ngIf="notificacionActiva(j.idRequerimiento) == 'S'"mat-raised-button (click)="notificaciones(j.idRequerimiento)" 
                  class="btn-notifications mat-elevation-z0">
                 <img src="assets/icons/notification.png"> 
                     </button>
                    
                     <button *ngIf="notificacionActiva(j.idRequerimiento) == 'N' && tieneInformacion(j.idRequerimiento) "  mat-raised-button (click)="notificaciones(j.idRequerimiento)" matBadgeSize="small" matBadge="i" matBadgeColor="warn"
                     class="btn-notifications2"> 
                    <img src="assets/icons/notification.png">
                        </button>
                    <button *ngIf="notificacionActiva(j.idRequerimiento) == 'N' && !tieneInformacion(j.idRequerimiento) "  mat-raised-button (click)="notificaciones(j.idRequerimiento)" 
                        class="btn-notifications2"> 
                       <img src="assets/icons/notification.png">
                           </button>
                      </div>
                </div>
              </div>

            
            </div>
          </div>
      
        </div>
      </div>
    
    </div>
    <div class="action-buttons">
      <button type="button" mat-raised-button color="primary"  (click)="guardarCumplimiento()">
        Guardar cumplimiento
      </button>
    </div>
</div>
